.new-design {
  @import '~slick-carousel/slick/slick.css';
  @import '~slick-carousel/slick/slick-theme.css';
  @import './abstracts/mixins';
  @import './abstracts/variables';
  @import './base/typography';
  @import './components/contentful_carousel';
  @import './components/contentful_hero';
  @import './components/contentful_highlight';
  @import './components/contentful_header_images';
  @import './components/contentful_imagelink';
  @import './components/contentful_mobile_menu';
  @import './components/new_design_overrides';
  @import './sections/shared';
  @import './sections/home';
  @import './sections/services';
  @import './sections/sectors';
  @import './sections/contact';
  @import './sections/contact_component';
  @import './sections/partners';
  @import './sections/case_study_1';
  @import './sections/case_study_2';
  @import './sections/frameworks';
  @import './sections/purpose';
  @import './sections/case_study';
  @import './sections/academy';

  font-family: $montserrat;
  color: $black;
  overflow-x: hidden;

  @include desktop {
    font-size: $px24;
    line-height: 1.67;
  }

  @include tablet {
    font-size: $px20;
    line-height: 1.5;
  }

  @include mobile {
    font-size: $px18;
    line-height: 1.66;
  }
}
