.case_study_1 {
  padding-bottom: 0px !important;
  padding-top: 40px !important;
    .row {
    font-size: 20px !important;
    margin-left: 5%;
    margin-right: -5%;
      h3 {
        margin-top: 0px;
        margin-bottom: 18px !important;
      }

      p:nth-last-of-type(2) {
        margin-bottom: 0px;
      }

      p, p:last-of-type {
        line-height: 1.5;
        margin-bottom: 20px;
      }

      img {
        margin-top: -140px;
        float: right !important;
        @include mobile {
          display: none;
        }
      }
    }
}