&.case__studies {
  .container {
    @include tablet {
      max-width: 90%;
    }
  }

  .hero {
    padding-bottom: 50px;

    @include sm-tablet {
      padding-bottom: 0px;
    }
  }

  .contentful-grid {
    padding-top: 0px !important;

    @include tablet {
      margin-bottom: -12%;
      padding-bottom: -20%;
    }
  }

  .contentful-hero__text {
    margin-top: 95px;

    @include tablet {
      margin-top: 88px;
    }

    @include mobile {
      margin-top: 0;

      &-box {
        padding-bottom: 20%;
      }
    }
  }

  img {
    &[src*="Cambridgeshire"] {
      height: 320px;
      margin-left: 100px;
      margin-bottom: -30px;
      object-fit: cover;

      @include sm-desktop {
        margin-left: 50px;
      }

      @include lg-tablet {
        margin-left: 4%;
      }

      @include tablet {
        margin-top: -2%;
        margin-bottom: -60px;
      }

      @include sm-tablet {
        margin-left: 8%;
      }

      @include mobile {
        margin-left: 8%;
      }
    }

    &[src*="FamilyStory"] {
      @include sm-tablet {
        margin-left: 3%;
      }

      @include mobile {
        margin-left: 2%;
      }
    }
  }

  .contentful-prose:first-of-type {
    margin-top: -30px;
  }

  .contentful-prose {
    margin-bottom: 20px;

    img {
      max-height: unset;
    }

    @include tablet {
      margin-bottom: 10%;
    }

    @include mobile {
      margin-bottom: 10%;
    }

    img {
      max-height: unset;
    }

    .prose {
      background-color: $white;
      padding: 50px;
      margin: unset;

      @include mobile {
        padding: 20px 20px 40px 20px;
      }

      p {
        font-size: $px12;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: 1px;
        line-height: normal;
        color: #333333;
      }

      h3 {
        margin-bottom: 30px;
      }

      a {
        font-size: $px20;
      }
    }
  }
}
