.get-in-touch__component {
    h3 {
        margin-bottom: 40px !important;
    }

    .prose {
        display: inline-block;
        margin-top: 0;
    }

    a {
        font-size: $px20;
    }

    .get-in-touch__component__director-name {
        margin-bottom: 20px;

        h4 {
            margin-bottom: 1px;
            line-height: 1.25;
        }

        p {
            font-size: $px14;
            font-weight: bold;
            line-height: 1.43;
            margin-bottom: 0px;
        }

        img {
            height: 60px;
            width: 60px;
            margin-right: 32px;
            vertical-align: top;
        }
    }

    .get-in-touch__component__email-address {
        img {
            height: 40px;
            width: 60px;
            margin-right: 32px;
            vertical-align: top;
            margin-bottom: 20px;
        }

        .prose {
            line-height: 1;
            top: 0;
            vertical-align: top;
        }
    }

    .get-in-touch__component__phone-number {
        img {
            height: 48px;
            width: 43px;
            margin-left: 17px;
            margin-right: 32px;
            vertical-align: top;
        }
    }
}