.contentful-grid.black.get-in-touch__component {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white !important;
    }
}

.get-in-touch__component {
    .illustration {
        margin-top: 5%;
        @include sm-tablet {
            display: flex;
        }

        @include mobile {
            display: none;
        }
    }

    h3 {
        margin-bottom: 40px !important;
    }

    .prose {
        display: inline-block;
        margin-top: 0;
    }

    a {
        font-size: $px20;
    }

    .get-in-touch__component__director-name {
        margin-bottom: 20px;

        h4 {
            margin-bottom: 1px;
            line-height: 1.25;

            @include tablet {
                font-size: $px20;
            }

            @include mobile {
                font-size: $px20;
            }
        }

        p {
            font-size: $px14;
            font-weight: bold;
            line-height: 1.43;
            margin-bottom: 0px;

            @include tablet {
                font-size: $px12;
            }

            @include mobile {
                font-size: $px12;
            }
        }

        img {
            height: 60px;
            width: 60px;
            margin-right: 32px;
            vertical-align: top;

            @include tablet {
                height: 50px;
                width: 50px;
                margin-right: 10px;
            }

            @include mobile {
                height: 50px;
                width: 50px;
                margin-right: 10px;
            }
        }
    }

    .get-in-touch__component__email-address {
        img {
            height: 40px;
            width: 60px;
            margin-left: -5px;
            margin-right: 37px;
            vertical-align: top;
            margin-bottom: 20px;

            @include tablet {
                height: 34px;
                width: 50px;
                margin-right: 15px;
            }

            @include mobile {
                height: 34px;
                width: 50px;
                margin-right: 15px;
            }
        }

        .prose {
            line-height: 1;
            top: 0;
            vertical-align: top;

            a {
                @include tablet {
                    font-size: $px18;
                }

                @include mobile {
                    font-size: $px18;
                }
            }
        }
    }

    .get-in-touch__component__phone-number {
        img {
            height: 48px;
            width: 43px;
            margin-left: 12px;
            margin-right: 37px;
            vertical-align: top;

            @include tablet {
                height: 40px;
                width: 36px;
                margin-right: 13px;
            }

            @include mobile {
                height: 40px;
                width: 36px;
                margin-right: 15px;
            }
        }

        .prose {
            a {
                @include tablet {
                    font-size: $px18;
                }

                @include mobile {
                    font-size: $px18;
                }
            }
        }
    }
}