.contact {
    b {
        font-family: 'poppins';
        color: $mt-green;
    }

    .contact__blurb {
        p {
            font-family: 'poppins';
            font-size: $px36;
            line-height: $px50;
        }
    }
}