&.contact__page {
    .small {
        font-size: $px12;
        font-weight: bold;
        margin-bottom: 17px;
    }
}

.contact__grid {
    b {
        font-family: $poppins;
        color: $mt-green;
    }

    .contact__blurb {
        p {
            font-family: $poppins;
            font-size: $px36;
            line-height: 50px;
            margin-bottom: 91px;

            @include mobile {
                margin-bottom: 45px;
            }
        }
    }

    .contact__card {
        a {
            padding-bottom: 0;
        }

        p {
            margin-bottom: 7px;
        }

        img {
            max-width: 180px;
            max-height: 121px;
        }
    }

    .contact__address {
        p {
            margin-bottom: 0;
            > b {
                margin-bottom: 4px;
            }
        }

        img {
            max-width: 180px;
            max-height: 160px;
            border-left: 4px solid $mt-green;
        }

        a {
            box-shadow: none;
        }
    }

    .contact__address,
    .contact__card {
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        @include mobile {
            display: block;
            margin-bottom: 40px;
        }

        .prose {
            margin-top: 0;
            margin-left: 20px;
            line-height: 1.5;

            @include mobile {
                margin-left: 0;
                margin-top: 10px;
            }

            b {
                font-size: $px24;
            }

            a {
                font-family: $poppins;
            }
        }
    }
}

.contact__careers {
    h3 {
        margin-bottom: 38px !important;
    }

    p {
        margin-bottom: 18px;
    }

    a {
        padding-bottom: 2px !important;
    }
}
