.contact {
    b {
        font-family: 'poppins';
        color: $mt-green;
    }

    .contact__blurb {
        p {
            font-family: 'poppins';
            font-size: $px36;
            line-height: 50px;
            margin-bottom: 91px;
        }
    }

    .contact__card {
        p {
            margin-bottom: 14px;
        }

        img {
            max-width: 180px;
            max-height: 121px;
        }
    }

    .contact__address {
        p {
            margin-bottom: 0;
            > b {
                margin-bottom: 4px;
            }
        }

        img {
            max-width: 180px;
            max-height: 160px;
        }
    }

    .contact__address,
    .contact__card {
        display: flex;
        align-items: center;
        margin-bottom: 50px;

        @include mobile {
            display: block;
        }

        .prose {
            margin-top: 0;
            margin-left: 20px;
            line-height: 1.5;

            b {
                font-size: $px24;
            }

            a {
                font-family: 'poppins';
            }
        }
    }
}