&.frameworks {
    h3 {
        margin-right: 10px;
    }

    .frameworks__g11 {
        @include desktop {
            padding-top: 120px !important;
        }

        @include lg-tablet {
            padding-top: 120px !important;
        }
        
        @include sm-tablet {
            padding-top: 50px !important;
        }

        h3 {
            margin-bottom: 15px !important;
        }

        img {
            max-width: 130px;

            @include mobile {
                display: none;
            }

            @include sm-tablet {
                display: none;
            }
        }
    }
}