.contentful-grid {
  &.black, &.white {
    &.overview {
      @include mobile {
        padding-top: 0 !important;
      }
    }
  }
}

&.services {
  $svc-img-path: 'assets/images/services';

  .services__legacy__section_0 {
    padding: 0 !important;
    @include bg-imgs('#{$svc-img-path}/legacy', 'services_legacy_timeline_1');

    @include mobile {
      height: 80px;
    }
    @include tablet {
      height: 140px;
    }
    @include sm-desktop {
      height: 130px;
    }
    @include lg-desktop {
      height: 90px;
    }
  }

  @for $i from 1 through 5 {
    .services__legacy__section_#{$i} {
      @include bg-imgs(
        '#{$svc-img-path}/legacy',
        'services_legacy_timeline_#{$i+1}'
      );

      background-position: center top !important;

      @include mobile {
        &.contentful-grid .contentful-prose {
          padding-top: 350px !important;
        }
      }

      @include sm-tablet {
        padding-bottom: 50px !important;

        &.contentful-grid .contentful-prose {
          padding-top: 400px;
        }
      }

      @include lg-tablet {
        @if $i == 5 {
          min-height: 600px;
        } @else {
          height: 600px;
        }
      }

      @include sm-desktop {
        @if $i == 5 {
          min-height: 530px;
        } @else {
          height: 530px;
        }
      }

      @include lg-desktop {
        @if $i == 5 {
          min-height: 610px;
        } @else {
          height: 610px;
        }
      }
    }
  }

  .services__capability__section_0 {
    padding: 0 !important;
    @include bg-imgs(
      '#{$svc-img-path}/capability',
      'services_capability_timeline_1'
    );
    @include mobile {
      height: 80px;
    }
    
    @include tablet {
      height: 140px;
    }
    @include sm-desktop {
      height: 130px;
    }
    @include lg-desktop {
      height: 90px;
    }
  }

  @for $i from 1 through 3 {
    .services__capability__section_#{$i} {
      @include bg-imgs(
        '#{$svc-img-path}/capability',
        'services_capability_timeline_#{$i+1}'
      );

      background-position: center top !important;
      
      @include mobile {
        &.contentful-grid {
          padding: 0 !important;
          
          .container {
            .contentful-prose {
              margin-top: 400px;
            }
          }
        }
      }

      @include sm-tablet {
        &.contentful-grid {
          padding-top: 30px !important;

          .contentful-prose .prose {
            margin-top: 0px;
            h3,
            p {
              font-size: 22px !important;
            }
          }
        }
        @if $i == 3 {
          min-height: 510px;
        } @else {
          height: 450px;
        }

        .contentful-prose {
          @if $i == 3 {
            padding-top: 50px !important;
          }
        }
      }

      @include lg-tablet {
        @if $i == 3 {
          min-height: 600px;
        } @else {
          height: 600px;
        }

        .contentful-prose {
          @if $i == 2 {
            padding-left: 50px !important;
          }
        }
      }

      @include sm-desktop {
        @if $i == 3 {
          min-height: 530px;
        } @else {
          height: 530px;
        }
      }

      @include lg-desktop {
        @if $i == 3 {
          min-height: 610px;
        } @else {
          height: 610px;
        }
      }
    }
  }

  .services__data__process {
    padding: 0 !important;
  }

  .services__digital__lightweight {
    .contentful-prose .prose {
      p {
        margin-bottom: 0;
      }

      ul {
        margin-top: 20px;

        li::marker {
          color: $mt-green;
        }

        b {
          font-size: $px20;
          color: $black;
          font-weight: $medium;
        }
      }
    }
  }

  .services__digital__beta {
    p {
      margin-bottom: 0;
    }

    p:last-child {
      margin-bottom: 20px;
    }
  } 
  
  .services__right_experience {
    img {
      width: 75%;
    }
  }

  .services__our_digital_1 {
    padding-bottom: 0 !important;
  }

  .services__our_digital_2 {
    padding-top: 0 !important;
  }

  .services__our_digital__text {
    padding: 9px 0 13px 25px;
    border-left: 4px solid $dark-grey;
  }
}

.overview {
  &.tablet__spacing__after__hero {
    @include lg-tablet {
      padding-top: 67px !important;
    }
  }

  @include tablet {
    padding: 0 0 80px 0 !important;
  }

  p {
    font-size: $px20;
  }


  .contentful-prose {
    &:not(.small) {
      .prose {
        h2 {
          @include desktop {
            margin-bottom: 15px;
          }

          @include tablet {
            margin-bottom: 20px;
          }
  
          @include mobile {
            margin-bottom: 5px;
          }
        }  
      }
    }
  }

  h2 {
    color: $mt-green;
  }

  a {
    color: $white;
    border:none;
    padding:3%;
  }
  
  .avatar {
    display: flex;
    padding-bottom: $px24;
    margin-top: 0;

    .prose {
      margin-top: 0;
      display: flex;
      justify-content: center;
      flex-direction: column;
      p:nth-of-type(1) {
        margin-bottom: 0;
        @include tablet {
          margin-right: -25px;
          font-family: $poppins;
          font-size: $px18;
          font-weight: $medium;
          letter-spacing: 0;
          line-height: $px30;
        }
      }
    }

    p {
      font-family: $poppins;
      font-size: $px24;
      font-weight: $medium;
      line-height: 1.43;

      @include tablet {
        font-size: $px12;
      }

      @include mobile {
        font-size: $px18;
        line-height: $px30;
        letter-spacing: 0;
      }
    }

    img {
      height: 80px;
      width: 80px;
      margin-right: 20px;

      @include tablet {
        img {
          height: 80px;
          width: 80px;
          margin-right: 10px;
        }
      }

      @include mobile {
        height: 80px;
        width: 80px;
        margin-right: 10px;
      }
    }
}

  .services-overview-bulletpoints {
    &.h4__white {
      h4 {
        margin-left: 17px;
        font-family: $poppins;
        font-size: $px24;
        font-weight: $extra-bold;
        line-height: $px24;
        letter-spacing: normal;
        color: white;
      }
    }
    &.h4__black {
      h4 {
        margin-left: 17px;
        font-family: $poppins;
        font-size: $px24;
        font-weight: $extra-bold;
        line-height: $px24;
        letter-spacing: normal;
        color: black;
      }
    }

    font-family: $montserrat;
    font-size: $px20;
    font-weight: normal;
    letter-spacing: normal;

    border-left-style: solid;
    border-left-width: $px04;
    padding-left: 8px;

    ul {
      padding-right: 15px;
      li {
        p {
          @include tablet {
            font-size: $px16;
            line-height: $px30;
            letter-spacing: 0;
          }

          @include mobile {
            font-weight: normal;
            font-size: $px16;
            line-height: $px26;
            letter-spacing: 0;
          }
        }
      }
    }
  }

  .overview-text {
    font-family: $montserrat;
    font-size: $px20;
    font-weight: normal;
    line-height: $px30;
    letter-spacing: normal;

    padding-left: 25px;
    border-left-style: solid;
    border-left-width: $px04;
    border-left-color: $mt-green;
    h4 {
      color: $mt-green;
      font-family: $poppins;
      font-size: $px24;
      font-weight: $extra-bold;
      line-height: $px24;
      letter-spacing: normal;
    }
    p:nth-of-type(1) {
      font-family: $montserrat;
      font-weight: normal;
      font-size: $px20;
      line-height: $px30;
      letter-spacing: normal;
      @include tablet {
        font-weight: normal;
        font-size: $px16;
        line-height: $px26;
        letter-spacing: 0;
      }
      @include mobile {
        font-weight: normal;
        font-size: $px16;
        line-height: $px26;
        letter-spacing: 0;
      }
    }

    p:nth-of-type(2) {
      display: inline-flex;
      box-shadow: 3px 3px 0 0;
      background-color: $mt-green;
      a {
        padding-top: 13px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
        height: 58px;
        display: inline-table;
      }
    }
    @include tablet {
      margin-right: -84px;
    }
  }

  .overview-title {
    h2 {
      color: $mt-green !important;
      font-family: $poppins;
      font-size: $px50;
      line-height: $px60;
      letter-spacing: 0;

      @include mobile {
        margin-bottom: 0 !important;
        font-size: $px40;
        line-height: $px50;
        letter-spacing: 0.56px;
      }

      @include tablet {
        font-family: $poppins;
        font-size: $px40;
        line-height: $px50;
      }
    }
  }
}
