&.our__purpose {
  b {
    color: $mt-green;
  }

  .contentful-hero__row {
    .contentful-hero__text-box {
      @include desktop {
        padding: 15% 0 10% 0;
      }   

      @include lg-tablet {
        padding: 15% 0 15% 0;
      } 

      @include sm-tablet {
        padding-bottom: 15%;
      }
    }

    .row {
      &.before {
        .contentful-hero__page-title {
          line-height: 0.86;
        }

        @include lg-desktop {
          margin-top: -133px;
          padding-bottom: 200px;
        }

        @include sm-desktop {
          margin-top: -113px;
          padding-bottom: 200px;
        }

        @include lg-tablet {
          margin-top: -90px;
          padding-bottom: 200px;
        }
      }
    }
  }

  .our__purpose__section_1 {
    .contentful-prose {
      &.text-left {
        @include lg-desktop {
          margin-bottom: 100px;
        }
  
        @include sm-desktop {
          margin-bottom: 65px;
        }
  
        @include lg-tablet {
          margin-bottom: 40px;
        }
      }
    }
  }
  
  .our__purpose__sectors__grid {
    &.contentful-grid {
      padding: 30px 0 30px 0 !important;
      .overlay {
        margin-top: -75px;

        @include sm-tablet {
          margin-top: auto;
        }

        @include mobile {
          margin-top: auto;
        }
      }
    }
  }

  .our__purpose__better__public__services__grid {
    &.contentful-grid {
      padding: 56px 0 200px 0 !important;
    }
  }

  .our__purpose__our__vision__hero {
    &.contentful-hero {
      margin-top: -50px;
    }
  }

  .our__purpose__our__vision__grid {
    &.contentful-grid {
      padding-top: 160px !important;
    }
    
    .contentful-prose {
      img {
        box-shadow: 20px 20px $mt-green;
      }

      p {
        padding-top: 110px;
      }
    }
  }

  .our__purpose__our__missions_1 {
    padding-bottom: 80px !important;

    .our__purpose__our__missions_1__prose {
      margin-top: -70px;

      @include sm-tablet {
        margin-top: auto;
      }
  
      @include mobile {
        margin-top: auto;
      }
    }

  }

  .our__purpose__our__missions_2 {
    padding-top: 0 !important;
    padding-bottom: 50px !important;
  }

  .our__purpose__our__missions_2 {
    p {
      padding: 0 10px 0 10px;
      margin-bottom: 40px !important;
    }

    img {
      margin-bottom: 20px;

      @include desktop {
        max-width: 180px;
        margin-bottom: 40px;
      }

      @include lg-tablet {
        width: 130px;
        margin-bottom: 40px;
      }

      max-width: 200px;
    }
  }

}