&.services {
  $svc-img-path: 'assets/images/services';

  .services__legacy__section_0 {
    padding: 0 !important;
    @include bg-imgs('#{$svc-img-path}/legacy', 'services_legacy_timeline_1');

    @include mobile {
      height: 80px;
    }
    @include tablet {
      height: 140px;
    }
    @include sm-desktop {
      height: 130px;
    }
    @include lg-desktop {
      height: 90px;
    }
  }

  @for $i from 1 through 5 {
    .services__legacy__section_#{$i} {
      @include bg-imgs(
        '#{$svc-img-path}/legacy',
        'services_legacy_timeline_#{$i+1}'
      );

      @if $i == 5 {
        background-position: center top !important;
      }

      @include mobile {
        &.contentful-grid {
          padding-top: 280px !important;
        }

        @if $i == 5 {
          min-height: 670px;
        } @else {
          height: 670px;
        }
      }

      @include sm-tablet {
        @if $i == 5 {
          min-height: 510px;
        } @else {
          height: 510px;
        }
      }

      @include lg-tablet {
        @if $i == 5 {
          min-height: 510px;
        } @else {
          height: 510px;
        }
      }

      @include sm-desktop {
        @if $i == 5 {
          min-height: 530px;
        } @else {
          height: 530px;
        }
      }

      @include lg-desktop {
        @if $i == 5 {
          min-height: 610px;
        } @else {
          height: 610px;
        }
      }
    }
  }

  .services__capability__section_0 {
    padding: 0 !important;
    @include bg-imgs(
      '#{$svc-img-path}/capability',
      'services_capability_timeline_1'
    );

    @include mobile {
      height: 80px;
    }
    @include tablet {
      height: 140px;
    }
    @include sm-desktop {
      height: 130px;
    }
    @include lg-desktop {
      height: 90px;
    }
  }

  @for $i from 1 through 3 {
    .services__capability__section_#{$i} {
      @include bg-imgs(
        '#{$svc-img-path}/capability',
        'services_capability_timeline_#{$i+1}'
      );

      @if $i == 3 {
        background-position: center top !important;
      }

      @include mobile {
        &.contentful-grid {
          padding-top: 280px !important;
        }
        @if $i == 3 {
          min-height: 670px;
        } @else {
          height: 670px;
        }
      }

      @include sm-tablet {
        @if $i == 3 {
          min-height: 510px;
        } @else {
          height: 510px;
        }
      }

      @include lg-tablet {
        @if $i == 3 {
          min-height: 510px;
        } @else {
          height: 510px;
        }
      }

      @include sm-desktop {
        @if $i == 3 {
          min-height: 530px;
        } @else {
          height: 530px;
        }
      }

      @include lg-desktop {
        @if $i == 3 {
          min-height: 610px;
        } @else {
          height: 610px;
        }
      }
    }
  }

  .services__data__process {
    padding: 0 !important;
  }

  .services__right_experience {
    img {
      width: 75%;
    }
  }

  .services__our_digital_1 {
    padding-bottom: 0 !important;
  }

  .services__our_digital_2 {
    padding-top: 0 !important;
  }

  .services__our_digital__text {
    padding: 9px 0 13px 25px;
    border-left: 4px solid $dark-grey;
  }
}

.overview {

  p {
    font-size: $px20;
  }


  .contentful-prose {
    &:not(.small) {
      .prose {
        h2 {
          @include desktop {
            margin-bottom: 15px;
          }

          @include tablet {
            margin-bottom: 10px;
          }
  
          @include mobile {
            margin-bottom: 5px;
          }
        }  
      }
    }
  }

  h2 {
    color: $mt-green;
  }

  a {
    color: $white;
    border:none;
    padding:3%;
  } 
  
  .avatar {
    display: flex;
    padding-bottom: $px24;
    margin-top: 0;

    .prose {
      margin-bottom: 20px;
    }

    p {
      font-family: $poppins;
      font-size: $px24;
      font-weight: $medium;
      line-height: 1.43;

      @include tablet {
        font-size: $px12;
      }

      @include mobile {
        font-size: $px12;
      }
    }

    img {
      height: 80px;
      width: 80px;
      margin-right: 20px;

      @include tablet {
        height: 50px;
        width: 50px;
        margin-right: 10px;
      }

      @include mobile {
        height: 50px;
        width: 50px;
        margin-right: 10px;
      }
    }
}

  .services-overview-bulletpoints {
    h4 {
      margin-left: 15px;
      font-size: $px24;
      font-family: $poppins;
      line-height: $px30;
      letter-spacing: 0;
      color: white;
    }

    height: 300px;
    border-left-style: solid;
    border-left-width: $px04;
    padding-left: 25px;
  }

  .overview-text {
    height: 300px;
    padding-left: 25px;
    border-left-style: solid;
    border-left-width: $px04;
    border-left-color: $mt-green;
    &.button__with__shadow {
      p:nth-of-type(2) {
        display: inline-flex;
        box-shadow: 3px 3px 0 0;
        background-color: $mt-green;
        a {
          padding-top: 13px;
          padding-left: 20px;
          padding-right: 20px;
          text-align: center;
          height: 58px;
          display: inline-table;
        }
      }
    }

  }

  .overview-title {
    h2 {
      color: $mt-green !important;
      font-family: $poppins;
      font-weight: bold;
      font-size: $px50;
      line-height: $px60;
      letter-spacing: 0;
    }
  }
}
