div &.partner__detail {
    ul {
        li:before {
            left: -40px;
            width: 20px;
            height: 20px;

            @include tablet {
                top: 7px;
                left: -28px;
                width: 15px;
                height: 15px;
            }

            @include mobile {
                top: 8px;
                left: -22px;
                width: 12px;
                height: 12px;
            }
        }
    }

    .aws_certified {
        .contentful-prose {
            .prose {
                h3 {
                    margin-bottom: 0;
                }
    
                b {
                    color: #ff9900;
                }
            }
        }

        ul {
            li:before {
                background: $black;
            }
        }
    }

    .expertise {
        img {
            max-height: 65px;
            margin: 15px 35px;

            @include mobile {
                margin: 15px 0px;
            }
        }

        ul {
            margin-bottom: 0;

            li {
                padding-bottom: 0;
            }
        }
    }
}

.services__where_we_help {
    @include sm-tablet {
        .col-xl-5 {
            margin-left: 0;
        }
    }

    @include mobile {
        .col-xl-5 {
            margin-left: 0;
        }
    }
}
