@mixin bg-img($basepath, $size, $name) {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url('#{$basepath}/#{$size}/#{$name}_#{$size}.png');
}

@mixin bg-imgs($basepath, $name) {
  @include mobile {
    @include bg-img($basepath, 540, $name);
  }
  @include tablet {
    @include bg-img($basepath, 720, $name);
  }
  @include sm-desktop {
    @include bg-img($basepath, 960, $name);
  }
  @include lg-desktop {
    @include bg-img($basepath, 1140, $name);
  }
}

.bulleted_headers {
  img {
    width: 260px;
    float: left;

    + h3,
    h4 {
      + p:not(:last-child) {
        min-height: 250px;
      }
    }

    @include lg-desktop {
      margin-left: -370px;
    }

    @include sm-desktop {
      margin-left: -345px;
    }

    @include tablet {
      margin-left: -310px;
    }

    @include mobile {
      max-width: none;
      margin-left: -20px;
      margin-right: 220px;
      margin-bottom: 20px;

      + h3,
      h4 {
        &:before {
          top: 220px;
        }

        &:after {
          top: 205px;
        }

        + p {
          padding-bottom: 45px;

          &:before {
            top: 220px;
          }
        }
      }
    }
  }

  h3,
  h4 {
    position: relative;
    left: 0;
    margin: 0 !important;
    padding-bottom: 14px;
  }

  p {
    position: relative;
    left: 0;
    margin: 0;
    padding-bottom: 36px;
    font-size: $px20;

    @include tablet {
      font-size: $px18;
    }

    @include mobile {
      font-size: $px16;
    }
  }

  h3:after,
  h4:after {
    /* bullets */
    width: 21px;
    height: 21px;
    background: $mt-green;
    border-radius: 50%;
    content: ' ';
    position: absolute;

    @include desktop {
      left: -45px; /*adjust manually*/
    }

    @include tablet {
      left: -45px; /*adjust manually*/
    }

    @include mobile {
      left: -40px; /*adjust manually*/
    }
  }

  h3:after {
    @include desktop {
      top: 15px;
      left: -45px; /*adjust manually*/
    }

    @include tablet {
      top: 10px;
      left: -45px; /*adjust manually*/
    }

    @include mobile {
      top: 10px;
      left: -40px; /*adjust manually*/
    }
  }

  h4:after {
    @include desktop {
      top: 7px;
      left: -45px; /*adjust manually*/
    }

    @include tablet {
      top: 7px;
      left: -45px; /*adjust manually*/
    }

    @include mobile {
      top: 2px;
      left: -40px; /*adjust manually*/
    }
  }

  h3:before,
  h4:before,
  p:before {
    /* lines */
    content: '';
    position: absolute;
    left: -35px; /* adjust manually */
    height: 100%;
    width: 2px;

    @include mobile {
      left: -30px; /*adjust manually*/
    }

    background-image: linear-gradient(to right, #a8a8a8 50%, transparent 50%),
      linear-gradient(to right, #a8a8a8 50%, transparent 50%),
      linear-gradient(to bottom, #a8a8a8 40%, transparent 10%),
      linear-gradient(to bottom, #a8a8a8 40%, transparent 10%);
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 0px 0px, 0px 0px, 0px 0px, 2px 20px;
  }

  h3:before {
    top: 18px;
  }

  h4:before {
    top: 10px; /* Tweak this to adjust the vertical positioning of the dashed lines */
  }

  p:before {
    top: 15px; /* Tweak this to adjust the vertical positioning of the dashed lines */
  }

  h3:last-of-type:before,
  h4:last-of-type:before {
    /* last li's line */
    height: 0px;
  }

  p:last-of-type:before {
    /* last li's line */
    height: 0px;
  }

  p:last-of-type:empty {
    display: none;
  }
}

.trusted_supplier__desktop {
  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.trusted_supplier__mobile {
  @include desktop {
    display: none;
  }
}

.book__showcase {
  margin-top: solid 50px !important;
  padding-top: 0 !important;
  padding-bottom: 30px !important;

  h2 {
    margin-top: 87px !important;
    margin-bottom: 40px !important;
    font-size: 36px;

    @include mobile {
      margin-top: 30px !important;
      margin-bottom: 25px !important;
      font-size: 30px;
    }
  }

  p {
    margin-bottom: 60px;

    @include tablet {
      margin-bottom: 49px;
    }

    @include mobile {
      margin-bottom: 18px;
      font-size: 16px;
    }

    a {
      @extend .btn;
      @extend .btn-dark;

      border-color: black !important;
      font-weight: normal !important;
      color: white !important;
      text-decoration: none;

      @include lg-desktop {
        width: 380px !important;
      }

      @include sm-desktop {
        width: 380px !important;
      }

      @include tablet {
        width: 300px !important;
      }

      @include mobile {
        width: 100% !important;
      }
    }
  }

  .contentful-prose {
    img.before {
      display: none;

      @include mobile {
        max-width: 138px;
        max-height: 212px;
        display: block;
        position: absolute;
        left: 70%;
        top: -45px;
      }
    }

    img:not(.before) {
      margin-top: -60px;

      @include lg-desktop {
        max-width: 475px !important;
        max-height: 671px !important;
      }

      @include sm-desktop {
        max-width: 475px !important;
        max-height: 671px !important;
      }

      @include tablet {
        max-width: 412px !important;
        max-height: 633px !important;
      }

      @include mobile {
        display: none;
      }
    }
  }
}
