&.webinars_overview {
	width:100%;
	overflow-x:hidden;
	overflow-y:hidden;
	.contentful-hero__text {
		margin-bottom: -40px;
		@include lg-mobile {
			font-size: 20px;
			padding-left: 10px;
			padding-right: 10px;
			margin-bottom: 20px;
		}
		@include md-mobile {
			margin-bottom: -15px;
		}
		@include ex-sm-mobile {
			margin-bottom: 40px;
		}
		a {
			font-weight: 800;
			letter-spacing: 0px;
			text-decoration: none;
			box-shadow: inset 0 0 0 transparent, inset 0 -3px 0 $mt-green;
			padding-bottom: 3px;
			color: #333;
			font-family: "Montserrat", Helvetica, Arial, sans-serif;
			&:hover {
				color: $mt-green;
			}
		}
	}
	.webinars_overview_grid {
		margin-top: 70px;
		@include ex-md-mobile {
			margin-top: 95px;
		}
		.container {
			@include lg-mobile {
				padding-left: 10px;
				padding-right: 10px;
			}
		}
		.row {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			@include lg-mobile {
				margin: 2px;
			}
		}
		.my-2 {
			@include lg-mobile {
				display: contents;
			}
			@include tablet {
				display: contents;
			}
			@include md-mobile {
				display: contents;
			}
			@include ex-sm-mobile {
				display: contents;
			}
		}
		.webinar_delivering {
			@include tablet {
				position: relative;
			}
			img {
				position: absolute;
				max-height: 100px;
				width: auto;
				transform: translateY(-50%);
				right: 20px;
				top: 293px;
				@include sm-mobile {
					max-height: 50px;
					margin-top: 468px;
					right: 13px;
				}
				@include lg-md-mobile {
					margin-top: 355px !important;
				}
				@include lg-mobile {
					max-height: 50px;
					margin-top: 446px;
					right: 20px;
				}
				@include tablet {
					top: 206px;
					right: 10px;
					max-height: 75px;
				}
				@include md-mobile {
					max-height: 50px;
					margin-top: 418px;
					right: 15px;
				}
				@include ex-sm-mobile {
					max-height: 50px;
					margin-top: 544px;
					right: 15px;
				}
				@include sm-md-mobile {
					max-height: 50px;
					margin-top: 470px;
					right: 23px;
				}
				@include ex-md-mobile {
					max-height: 50px;
					margin-top: 510px;
					right: 15px;
				}
				@include sm-desktop {
					max-height: 75px;
				}
			}
			p:first-of-type,
			h3 {
				background-color: $mt-green;
				@include lg-mobile {
					font-size: 30px;
				}
				@include sm-mobile {
					font-size: 27px;
				}
				@include ex-sm-mobile {
					font-size: 23px;
				}
			}
			@include lg-mobile {
				order: 1;
				margin-bottom: 95px;
			}
			@include md-mobile {
				order: 1;
				margin-bottom: 50px;
			}
			@include tablet {
				order: 1;
				margin-bottom: 50px;
			}
			@include ex-sm-mobile {
				order: 1;
			}
		}
		.webinar_enhancing {
			@include tablet {
				position: relative;
			}
			img {
				position: absolute;
				max-height: 100px;
				width: auto;
				transform: translateY(-50%);
				right: 20px;
				top: 216px;
				@include lg-md-mobile {
					margin-top: 974px !important;
				}
				@include lg-mobile {
					max-height: 50px;
					margin-top: 1124px;
					right: 20px;
				}
				@include sm-mobile {
					max-height: 50px;
					margin-top: 1302px;
					right: 12px;
				}
				@include tablet {
					top: 180px;
					right: 10px;
					max-height: 75px;
				}
				@include sm-desktop {
					margin-top: 75px;
					max-height: 75px;
				}
				@include md-mobile {
					max-height: 50px;
					margin-top: 1151px;
					right: 15px;
				}
				@include ex-sm-mobile {
					max-height: 50px;
					margin-top: 1190px;
					right: 15px;
				}
				@include sm-md-mobile {
					max-height: 50px;
					margin-top: 1188px;
					right: 22px;
				}
				@include ex-md-mobile {
					max-height: 50px;
					margin-top: 1247px;
					right: 15px;
				}
			}
			p:first-of-type,
			h3 {
				background-color: $black;
				@include lg-mobile {
					font-size: 30px;
				}
				@include sm-mobile {
					font-size: 27px;
				}
				@include ex-sm-mobile {
					font-size: 23px;
				}
			}
			@include lg-mobile {
				order: 2;
				margin-bottom: 20px;
				margin-top: -70px;
			}
			@include md-mobile {
				order: 2;
				margin-bottom: 20px;
			}
			@include tablet {
				order: 2;
				margin-bottom: 20px;
			}
			@include ex-sm-mobile {
				order: 2;
				margin-top: -1px;
			}
			@include sm-md-mobile {
				margin-top: -68px;
			}
		}
		.webinar_upskill {
			@include tablet {
				position: relative;
			}
			img {
				position: absolute;
				max-height: 100px;
				width: auto;
				transform: translateY(-50%);
				right: 20px;
				margin-top: -296px;
				@include lg-md-mobile {
					margin-top: -294px !important;
				}
				@include lg-mobile {
					max-height: 50px;
					margin-top: -324px;
					right: 20px;
				}
				@include sm-mobile {
					margin-top: -445px;
					right: 11px;
					max-height: 50px;
				}
				@include tablet {
					margin-top: 0px;
					right: 10px;
					top: 203px;
					max-height: 75px;
				}
				@include sm-desktop {
					margin-top: -326px;
					max-height: 75px;
				}
				@include md-mobile {
					max-height: 50px;
					margin-top: -414px;
					right: 15px;
				}
				@include ex-sm-mobile {
					max-height: 50px;
					margin-top: -307px;
					right: 15px;
				}
				@include sm-md-mobile {
					max-height: 50px;
					margin-top: -383px;
					right: 22px;
				}
				@include ex-md-mobile {
					max-height: 50px;
					margin-top: -353px;
					right: 15px;
				}
			}
			p:first-of-type,
			h3 {
				background-color: $black;
				@include lg-mobile {
					font-size: 30px;
				}
				@include sm-mobile {
					font-size: 27px;
				}
				@include ex-sm-mobile {
					font-size: 23px;
				}
			}
			@include lg-mobile {
				p:first-of-type,
				h3 {
					background-color: $mt-green;
				}
				order: 3;
				margin-bottom: 20px;
			}
			@include md-mobile {
				p:first-of-type,
				h3 {
					background-color: $mt-green;
				}
				order: 3;
				margin-bottom: 20px;
			}
			@include tablet {
				p:first-of-type,
				h3 {
					background-color: $mt-green;
				}
				order: 3;
				margin-bottom: 20px;
			}
			@include ex-sm-mobile {
				p:first-of-type,
				h3 {
					background-color: $mt-green;
				}
				order: 3;
			}
		}
		.webinar_avoiding {
			@include tablet {
				position: relative;
			}
			img {
				position: absolute;
				max-height: 100px;
				width: auto;
				transform: translateY(-50%);
				right: 20px;
				margin-top: -296px;
				@include lg-md-mobile {
					margin-top: -294px !important;
				}
				@include lg-mobile {
					max-height: 50px;
					margin-top: -324px;
					right: 20px;
				}
				@include sm-mobile {
					margin-top: -445px;
					right: 11px;
					max-height: 50px;
				}
				@include tablet {
					margin-top: 0;
					right: 10px;
					max-height: 75px;
					top: 243px;
				}
				@include sm-desktop {
					margin-top: -326px;
					max-height: 75px;
				}
				@include md-mobile {
					max-height: 50px;
					margin-top: -416px;
					right: 15px;
				}
				@include ex-sm-mobile {
					max-height: 50px;
					margin-top: -306px;
					right: 15px;
				}
				@include sm-md-mobile {
					max-height: 50px;
					margin-top: -385px;
					right: 22px;
				}
				@include ex-md-mobile {
					max-height: 50px;
					margin-top: -386px;
					right: 15px;
				}
			}
			p:first-of-type,
			h3 {
				background-color: $mt-green;
				@include lg-mobile {
					font-size: 30px;
				}
				@include sm-mobile {
					font-size: 27px;
				}
				@include ex-sm-mobile {
					font-size: 23px;
				}
			}
			@include lg-mobile {
				p:first-of-type,
				h3 {
					background-color: $black;
				}
				order: 4;
				margin-bottom: 20px;
			}
			@include md-mobile {
				p:first-of-type,
				h3 {
					background-color: $black;
				}
				order: 4;
				margin-bottom: 20px;
			}
			@include tablet {
				p:first-of-type,
				h3 {
					background-color: $black;
				}
				order: 4;
				margin-bottom: 20px;
			}
			@include ex-sm-mobile {
				p:first-of-type,
				h3 {
					background-color: $black;
				}
				order: 4;
			}
		}
		.webinar_spin_up {
			@include tablet {
				position: relative;
			}
			img {
				position: absolute;
				max-height: 100px;
				width: auto;
				transform: translateY(-50%);
				right: 20px;
				margin-top: -296px;
				@include lg-md-mobile {
					margin-top: -294px !important;
				}
				@include lg-mobile {
					max-height: 50px;
					margin-top: -324px;
					right: 20px;
				}
				@include sm-mobile {
					margin-top: -445px;
					right: 11px;
					max-height: 50px;
				}
				@include tablet {
					margin-top: 0px;
					right: 10px;
					max-height: 75px;
					top: 200px;
				}
				@include sm-desktop {
					margin-top: -326px;
					max-height: 75px;
				}
				@include md-mobile {
					max-height: 50px;
					margin-top: -413px;
					right: 15px;
				}
				@include ex-sm-mobile {
					max-height: 50px;
					margin-top: -330px;
					right: 15px;
				}
				@include sm-md-mobile {
					max-height: 50px;
					margin-top: -387px;
					right: 22px;
				}
				@include ex-md-mobile {
					max-height: 50px;
					margin-top: -386px;
					right: 15px;
				}
			}
			p:first-of-type,
			h3 {
				background-color: $mt-green;
				@include lg-mobile {
					font-size: 30px;
				}
				@include sm-mobile {
					font-size: 27px;
				}
				@include ex-sm-mobile {
					font-size: 23px;
				}
			}
			@include md-mobile {
				order: 5;
			}
			@include lg-mobile {
				order: 5;
			}
			@include tablet {
				order: 5;
				margin-bottom: 20px;
			}
			@include ex-sm-mobile {
				order: 5;
			}
		}
		.prose {
			padding: 0;
		}
		.prose-heading {
			p:first-of-type {
				padding: 50px 50px 0 50px;
				margin-bottom: 0;
				font-size: 12px;
				font-weight: bold;
				line-height: normal;
				letter-spacing: 1px;
				color: $white;
				@include lg-mobile {
					padding: 40px 50px 0 20px;
				}
				@include ex-sm-mobile {
					padding: 50px 20px 0 20px;
				}
				@include ex-md-mobile {
					padding: 37px 10px 0px 25px;
				}
			}
			h3 {
				padding: 15px 50px 50px 50px;
				margin-top: -1px;
				color: $white;
				@include lg-mobile {
					padding: 15px 22px 40px 20px;
				}
				@include ex-sm-mobile {
					padding: 15px 20px 40px 20px;
				}
				@include ex-md-mobile {
					padding: 15px 22px 35px 29px;
				}
			}
			p {
				padding: 15px 50px 10px 50px;
				font-family: Montserrat;
				font-size: 20px;
				font-weight: normal;
				line-height: 1.5;
				letter-spacing: normal;
				color: #595959;
				margin-bottom: 0;
				@include lg-mobile {
					padding: 15px 20px 10px 20px;
				}
				@include ex-sm-mobile {
					padding: 0px 20px 10px 20px;
					font-size: 17px;
				}
				@include ex-md-mobile {
					padding: 5px 24px 10px 27px;
				}
			}
			p:last-of-type {
				margin-left: 50px;
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 50px;
				@include lg-mobile {
					margin-left: 20px;
				}
				@include ex-sm-mobile {
					margin-left: 22px;
					margin-top: 5px;
				}
				@include ex-md-mobile {
					margin-left: 28px;
				}
				a {
					@include ex-sm-mobile {
						font-size: 17px;
					}
				}
			}
		}
	}
}
