@import url('https://fonts.googleapis.com/css?family=Poppins:500,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap');

$montserrat: 'Montserrat', Helvetica, Arial, sans-serif;
$poppins: 'Poppins', Helvetica, Arial, sans-serif;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $poppins;
  font-weight: $extra-bold;
  -webkit-hyphens: manual;
  -ms-hyphens: manual;
  hyphens: manual;
  word-break: break-word;
}

// hero
h1 {
  @include desktop {
    font-size: $px80;
    line-height: 1.26;
    letter-spacing: -$px1;
  }

  @include tablet {
    font-size: $px65;
    line-height: 1.23;
    letter-spacing: -$px08;
  }

  @include mobile {
    font-size: $px42;
    line-height: 1.2;
    letter-spacing: -$px06;
  }
}

// section header
h2 {
  color: $black;

  @include desktop {
    font-size: $px50;
    line-height: 1.2;
  }

  @include tablet {
    font-size: $px40;
    line-height: 1.25;
  }

  @include mobile {
    font-size: $px30;
    line-height: 1.33;
  }
}

// section sub-header
h3 {
  @include desktop {
    font-size: $px36;
    line-height: 1.39;
  }

  @include tablet {
    font-size: $px30;
    line-height: 1.33;

    br {
      display: none;
    }
  }

  @include mobile {
    font-size: $px30;
    line-height: 1.33;

    br {
      display: none;
    }
  }
}

// small header
h4 {
  @include desktop {
    font-size: $px26;
    line-height: 1.54;
  }

  @include tablet {
    font-size: $px26;
    line-height: 1.5;
  }

  @include mobile {
    font-size: $px24;
    line-height: 1.39;
  }
}

// pull-quote
blockquote {
  font-weight: $medium;
  line-height: 1.5;
  color: $mt-green;
  font-family: $poppins;

  @include desktop {
    font-size: $px26;
    letter-spacing: -$px06;
  }

  @include tablet {
    font-size: $px20;
    letter-spacing: -$px06;
  }

  @include mobile {
    font-size: $px20;
    letter-spacing: -$px06;
  }
}

.small {
  @include desktop {
    font-size: $px20;
    line-height: 1.5;
  }

  @include tablet {
    font-size: $px18;
    line-height: 1.39;
  }

  @include mobile {
    font-size: $px18;
    line-height: 1.57;
  }
}
