.contentful-grid {
  margin: map-get($spacers, 3) 0;
}

.contentful-grid.shaded,
.contentful-grid.yellow,
.contentful-grid.blue {
  padding: map-get($spacers, 3) 0;
}

.contentful-grid.blue {
  background-color: #385fb3;

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }

  .prose {
    color: #fff;

    p:last-child a {
      @extend .btn-outline-light;
      text-shadow: none;
    }
  }
}

.contentful-grid.yellow {
  background-color: #fecc2b;

  .prose {
    color: #000;

    p:last-child a {
      @extend .btn-outline-dark;
      border-color: black;
      color: black;
      text-shadow: none;

      &:focus, &:hover {
        background-color: black;
      }
    }
  }
}

.contentful-grid.shaded {
  background-color: #fcfcfc;
  border-top: 1px solid #e0e0e0;

  & + .contentful-grid {
    border-top: 1px solid #f0f0f0;
  }

  & + .contentful-grid.shaded {
    border-top: 0;
  }
}

.contentful-grid + .contentful-jumbotron {
  margin-top: map-get($spacers, 3) * -1;
}

.contentful-jumbotron {
  & + .contentful-grid.yellow,
  & + .contentful-grid.blue,
  & + .contentful-grid.shaded {
    margin-top: 0;
  }
}

.contentful-grid + .site_map {
  margin-top: map-get($spacers, 3) * -1;
}
