.new-design {
  @import url('https://fonts.googleapis.com/css?family=Poppins:500,700,800&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap');
  @import 'components/Contentful/contentful_settings';
  @import 'components/Contentful/contentful_fonts';
  @import 'components/Contentful/contentful_hero';
  @import 'components/Contentful/contentful_highlight';

  /** DEFAULT PAGE TEXT-STYLES */

  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: $dark-grey;

  @include desktop {
    font-size: $px24;
    line-height: 1.67;

    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .row {
      margin-left: 0;
      margin-right: 0;
    }

    .col,
    [class*='col-'] {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  @include tablet {
    font-size: $px20;
    line-height: 1.5;

    .container {
      padding-left: 0;
      padding-right: 0;
    }

    .row {
      margin-left: 0;
      margin-right: 0;
    }

    .col,
    [class*='col-'] {
      padding-left: 2.5px;
      padding-right: 2.5px;
    }
  }

  @include mobile {
    font-size: $px18;
    line-height: 1.66;

    .container {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  /***/

  .contentful-grid {
    margin: 0;
    border: 0 !important;
    padding: $grid-padding !important;

    @include mobile {
      padding: $mobile-grid-padding !important;
    }

    &.shaded,
    &.yellow,
    &.blue &.white {
      + .contentful-grid {
        padding: $grid-padding;

        @include mobile {
          padding: $mobile-grid-padding;
        }
      }
    }

    &.white {
      background-color: white;
    }

    &.shaded {
      background-color: $white-two;
    }

    &.green-gradient {
      background-image: linear-gradient(
        285deg,
        $mt-green-gradient-dark,
        $mt-green
      );

      padding: 180px 0 !important;

      @include mobile {
        padding: $mobile-grid-padding !important;
      }

      h3 {
        color: $white;
        font-weight: $extra-bold;

        @include tablet {
          padding-bottom: 50px;
        }

        @include mobile {
          padding-bottom: 0px;
        }
      }

      .prose {
        color: $white;
        font-weight: $medium;
      }
    }

    &.pull-quote {
      &.contentful-grid {
        padding: 0 !important;
      }

      .contentful-prose {
        img {
          max-height: 100%;
        }
      }

      .prose {
        color: $black;
        font-weight: $bold;

        @include desktop {
          font-size: $px14;
          line-height: 1.05;
        }

        @include tablet {
          font-size: $px12;
          line-height: 1.25;
        }

        @include mobile {
          font-size: $px12;
          line-height: 1.25;
        }

        blockquote {
          margin: 0 0 10px 0;

          @include tablet {
            margin-top: 25px;
          }

          @include mobile {
            margin-top: 25px;
            max-width: 80%;
          }

          &::before {
            display: none;
          }

          p {
            font-style: normal;
          }

          + p {
            margin: 0;
          }
        }
      }

      img {
        border-left: 10px solid $mt-green;
        margin-left: -10px;
      }

      + .contentful-highlight {
        margin-top: $desktop-spacing;

        @include mobile {
          margin-top: $mobile-spacing;
        }
      }
    }
  }

  .contentful-prose {
    b {
      font-weight: $extra-bold;
      color: $black;
    }

    u {
      text-decoration: none;
      box-shadow: inset 0 0px 0 transparent, inset 0 -3px 0 $mt-green;
    }

    .prose {
      color: $dark-grey;
    }

    &:not(.small) {
      .prose {
        h2 {
          @include desktop {
            margin-bottom: 100px;
          }

          @include tablet {
            margin-bottom: 75px;
          }

          @include mobile {
            margin-bottom: 25px;
          }
        }
        h3 {
          @include desktop {
            margin-bottom: 100px;
          }

          @include tablet {
            margin-bottom: 25px;
          }

          @include mobile {
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  ul.test li {
    position:relative; /* so that pseudoelements are positioned relatively to their "li"s*/
    /* use padding-bottom instead of margin-bottom.*/ 
    margin-bottom: 0; /* This overrides previously specified margin-bottom */
    padding-bottom: $px20;
  }

  ul.test li:after {
    /* bullets */
    width: 21px;
    height: 21px;
    background: $mt-green;
    border-radius: 50%;
    content: " ";
    position: absolute;
    left: -30px; /*adjust manually*/
    top: 9px;
  }

  ul.test li:before {
      /* lines */
    content:"";
    position: absolute;
    left: -20px; /* adjust manually */
    height: 100%;
    width: 1px;

    background-image: linear-gradient(to right, #a8a8a8 50%, transparent 50%), linear-gradient(to right, #a8a8a8 50%, transparent 50%), linear-gradient(to bottom, #a8a8a8 50%, transparent 50%), linear-gradient(to bottom, #a8a8a8 50%, transparent 50%);
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 0px 0px, 0px 0px, 0px 0px, 1px 10px;
  }

  ul.test li:before {
    /* first li's line */
    top: 21px; /* moves the line down so that it disappears under the bullet. Adjust manually */
  }

  ul.test li:last-child:before {
      /* last li's line */
    height: 0px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
  }

  @import 'components/Contentful/custom_styles';
}
