.new-design {
  @import url('https://fonts.googleapis.com/css?family=Poppins:500,700,800&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap');
  @import 'components/Contentful/contentful_settings';
  @import 'components/Contentful/contentful_fonts';
  @import 'components/Contentful/contentful_hero';

  //====== DEFAULT PAGE TEXT-STYLES ======//

  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: $dark-grey;

  @include desktop {
    font-size: 1.26rem;
    line-height: 1.67;
  }

  @include tablet {
    font-size: 1.05rem;
    line-height: 1.5;
  }

  @include mobile {
    font-size: 0.95rem;
    line-height: 1.66;
  }

  //====== ======//

  .contentful-grid {
    margin: 0;
    padding: 15px 0;

    &.shaded {
      background-color: $white-two;
      border: 0;
    }

    &.green-gradient {
      background-image: linear-gradient(285deg, $mt-green-gradient-dark, $mt-green);

      .prose {
        color: $white;
      }
    }
  }
}
