// font colors
$mt-green-gradient-dark: #1b6a1c;
$mt-green-dark: #31aa33;
$mt-green: #40c842;
$black: #333;
$dark-grey: #595959;
$mid-grey: #999;
$white-two: #f1f1f1;
$white: #fff;

// font-weights
$extra-bold: 800;
$bold: 600;
$medium: 500;

// paddings
$grid-padding: 100px 0;

//mixins
@mixin mobile {
  @include media-breakpoint-down(sm) {
    @content;
  }
}
@mixin tablet {
  @include media-breakpoint-down(md) {
    @content;
  }
}
@mixin desktop {
  @include media-breakpoint-up(lg) {
    @content;
  }
}
