.contentful-hero {
  @include tablet {
    margin-bottom: 45px;
  }

  @include mobile {
    margin-bottom: 35px;
  }

  .container {
    position: relative;
    min-height: 480px;

    @include tablet {
      min-height: 200px;
    }

    @include mobile {
      min-height: 100px;
    }
  }
}

.contentful-hero__breadcrumb {
  color: $mid-grey;
  font-weight: $bold;
  font-size: 0.63rem;
  @include desktop {
    margin-bottom: 65px;
  }

  @include tablet {
    margin-bottom: 45px;
  }

  @include mobile {
    margin-bottom: 35px;
  }
}

.contentful-hero__section-type {
  font-weight: $extra-bold;
  font-size: 0.63rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.contentful-hero__page-title {
  // force page-title to be one word per line
  width: 5px;
  overflow: visible;
}

.contentful-hero__services-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: -1;
  width: 80%;

  @include mobile {
    display: none;
  }
}
