.new-design {
  @import url('https://fonts.googleapis.com/css?family=Poppins:500,700,800&display=swap');
  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap');
  @import 'components/Contentful/contentful_settings';
  @import 'components/Contentful/contentful_fonts';
  @import 'components/Contentful/contentful_hero';
  @import 'components/Contentful/contentful_floating_prose_container';

  /** DEFAULT PAGE TEXT-STYLES */

  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  color: $dark-grey;

  @include desktop {
    font-size: 1.26rem;
    line-height: 1.67;
  }

  @include tablet {
    font-size: 1.05rem;
    line-height: 1.5;
  }

  @include mobile {
    font-size: 0.95rem;
    line-height: 1.66;
  }

  /***/

  .contentful-grid {
    margin: 0;
    border: 0;
    padding: $grid-padding;

    @include mobile {
      padding: $mobile-grid-padding;
    }

    &.shaded,
    &.yellow,
    &.blue {
      padding: $grid-padding;

      + .contentful-grid {
        padding: $grid-padding;

        @include mobile {
          padding: $mobile-grid-padding;
        }
      }
    }

    &.shaded {
      background-color: $white-two;

      @include mobile {
        padding: $mobile-grid-padding;
      }
    }

    &.green-gradient {
      background-image: linear-gradient(
        285deg,
        $mt-green-gradient-dark,
        $mt-green
      );
      padding: 30px 0;

      @include mobile {
        padding: $mobile-grid-padding;
      }

      h3 {
        color: $white;
        font-weight: $extra-bold;
      }

      .prose {
        color: $white;
        font-weight: $medium;
      }
    }

    &.pull-quote {
      .prose {
        color: $black;
        font-weight: $bold;

        @include desktop {
          font-size: 0.74rem;
          line-height: 1.05;
        }

        @include tablet {
          font-size: 0.63rem;
          line-height: 1.25;
        }

        @include mobile {
          font-size: 0.63rem;
          line-height: 1.25;
        }

        blockquote {
          margin: 0 0 10px 0;

          &::before {
            display: none;
          }

          p {
            font-style: normal;
          }
        }
      }

      img {
        @include mobile {
          margin-bottom: 45px;
        }
        border-left: 10px solid $mt-green;
        margin-left: -10px;
      }
    }
  }
}
