.contentful-highlight {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  color: $white;
  font-weight: $medium;
  position: relative;

  &.green-gradient {
    .contentful-highlight__bg-left {
      background-color: $mt-green;
    }

    .contentful-highlight__content {
      padding: 30px 15px;
      background-image: linear-gradient(
        275deg,
        $mt-green-gradient-dark 10%,
        $mt-green 80%
      );

      p {
        margin: 1rem 0;

        @include desktop {
          padding-right: 20%;
          font-size: $px26;
          line-height: 1.54;
        }

        @include tablet {
          padding-right: 15%;
          font-size: $px20;
          line-height: 1.5;
        }

        @include mobile {
          padding-right: 10%;
          font-size: $px18;
          line-height: 1.39;
        }
      }
    }
  }

  .contentful-highlight__bg-left {
    position: absolute;
    z-index: -1;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  .contentful-highlight__bg-right {
    position: absolute;
    z-index: -1;
    margin: 0;
    padding: 0;
    right: 0;
    height: 100%;

    .contentful-highlight__bg-right__top,
    .contentful-highlight__bg-right__bottom {
      width: 100%;
      height: 50%;

      &.white {
        background-color: $white;
      }

      &.white-two {
        background-color: $white-two;
      }
    }
  }

  .contentful-highlight__author {
    span {
        height: 45px;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.43;
        letter-spacing: normal;
        color: $black;
        margin-left: 10px;
    }

    img {
      width: 54px;
      height: 54px;
      border-radius: 50%;
    }
  }
}
