// font colors
$mt-green-gradient-dark: #1b6a1c;
$mt-green-dark: #31aa33;
$mt-green: #40c842;
$black: #333;
$dark-grey: #595959;
$mid-grey: #999;
$white-two: #f1f1f1;
$white: #fff;

// font-weights
$extra-bold: 800;
$bold: 600;

// device mixins
@mixin mobile {
  @media (max-width: 400px) { @content; }
}
@mixin tablet {
  @media (max-width: 720px) { @content; }
}
@mixin desktop {
  @media (min-width: 721px) { @content; }
}
