// font colors
$mt-green-dark: #31aa33;
$mt-green: #40c842;
$black: #333;
$dark-grey: #595959;
$mid-grey: #999;
$white-two: #f1f1f1;
$white: #fff;

// media vars
$max-width-desktop: 1180px;
$min-width-desktop: 721px;
$max-width-tablet: 720px;
$min-width-tablet: 321px;
$max-width-mobile: 320px;
