.contentful-prose {
  margin: map-get($spacers, 5) 0;

  .prose {
    h1, h2, h3, h4, h5, h6 {
      &:first-child {
        margin-top: 0;
      }
    }

    :not(li) > p:last-child a {
      @extend .btn;
      @extend .btn-outline-success;
      color: $mt-green;
      font-weight: normal;
      text-decoration: none;

      &:hover, &:focus {
        color: white;
      }
    }
  }

  .contentful-grid & {
    margin: 0;
  }
}
