.contentful-hero {
  @include tablet {
    margin-bottom: 45px;
  }

  @include mobile {
    margin-bottom: 35px;
  }

  .container {
    position: relative;
    min-height: 480px;

    @include tablet {
      min-height: 200px;
    }

    @include mobile {
      min-height: 100px;
    }
  }

  .row {
    background-position: 102% 100%;
    background-repeat: no-repeat;
    background-size: contain;

    @include mobile {
      background-image: none !important;
    }
  }
}

.contentful-hero__breadcrumb {
  color: $mid-grey;
  font-weight: $bold;
  font-size: $px12;
  @include desktop {
    margin-bottom: 65px;
  }

  @include tablet {
    margin-bottom: 45px;
  }

  @include mobile {
    margin-bottom: 35px;
  }
}

.contentful-hero__section-type {
  font-weight: $extra-bold;
  font-size: $px12;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.contentful-hero__page-title {
  word-wrap: break-word;
}
