$svc-img-path: './assets/images/services';

@mixin bg-img($basepath, $size, $name) {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url('#{$basepath}/#{$size}/#{$name}_#{$size}.png');
}

@mixin bg-imgs($basepath, $name) {
  @include mobile {
    @include bg-img($basepath, 540, $name);
  }
  @include tablet {
    @include bg-img($basepath, 720, $name);
  }
  @include sm-desktop {
    @include bg-img($basepath, 960, $name);
  }
  @include lg-desktop {
    @include bg-img($basepath, 1140, $name);
  }
}

&.services__legacy {
  background-repeat: no-repeat;
  background-position: center top;

  @include desktop {
    background-image: url('#{$svc-img-path}/legacy/header-photo-desktop.jpg');
    background-size: contain;
  }

  @include tablet {
    background-image: url('#{$svc-img-path}/legacy/header-photo-tablet.jpg');
    background-size: contain;
  }

  @include mobile {
    background-image: url('#{$svc-img-path}/legacy/header-photo-tablet.jpg');
  }
}

.services__legacy__section_0 {
  padding: 0 !important;
  @include bg-imgs('#{$svc-img-path}/legacy', 'services_legacy_timeline_1');

  @include mobile {
    height: 80px;
  }
  @include tablet {
    height: 140px;
  }
  @include sm-desktop {
    height: 130px;
  }
  @include lg-desktop {
    height: 90px;
  }
}

@for $i from 1 through 5 {
  .services__legacy__section_#{$i} {
    @include bg-imgs(
      '#{$svc-img-path}/legacy',
      'services_legacy_timeline_#{$i+1}'
    );

    @if $i == 5 {
      background-position: center top !important;
    }

    @include mobile {
      &.contentful-grid {
        padding-top: 280px !important;
      }

      @if $i == 5 {
        min-height: 670px;
      } @else {
        height: 670px;
      }
    }

    @include sm-tablet {
      @if $i == 5 {
        min-height: 510px;
      } @else {
        height: 510px;
      }
    }

    @include lg-tablet {
      @if $i == 5 {
        min-height: 510px;
      } @else {
        height: 510px;
      }
    }

    @include sm-desktop {
      @if $i == 5 {
        min-height: 530px;
      } @else {
        height: 530px;
      }
    }

    @include lg-desktop {
      @if $i == 5 {
        min-height: 610px;
      } @else {
        height: 610px;
      }
    }
  }
}

.services__capability__section_0 {
  padding: 0 !important;
  @include bg-imgs(
    '#{$svc-img-path}/capability',
    'services_capability_timeline_1'
  );

  @include mobile {
    height: 80px;
  }
  @include tablet {
    height: 140px;
  }
  @include sm-desktop {
    height: 130px;
  }
  @include lg-desktop {
    height: 90px;
  }
}

@for $i from 1 through 3 {
  .services__capability__section_#{$i} {
    @include bg-imgs(
      '#{$svc-img-path}/capability',
      'services_capability_timeline_#{$i+1}'
    );

    @if $i == 3 {
      background-position: center top !important;
    }

    @include mobile {
      &.contentful-grid {
        padding-top: 280px !important;
      }
      @if $i == 3 {
        min-height: 670px;
      } @else {
        height: 670px;
      }
    }

    @include sm-tablet {
      @if $i == 3 {
        min-height: 510px;
      } @else {
        height: 510px;
      }
    }

    @include lg-tablet {
      @if $i == 3 {
        min-height: 510px;
      } @else {
        height: 510px;
      }
    }

    @include sm-desktop {
      @if $i == 3 {
        min-height: 530px;
      } @else {
        height: 530px;
      }
    }

    @include lg-desktop {
      @if $i == 3 {
        min-height: 610px;
      } @else {
        height: 610px;
      }
    }
  }
}

.services__trusted_supplier__desktop {
  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.services__trusted_supplier__mobile {
  @include desktop {
    display: none;
  }
}

.services__data__process {
  padding: 0 !important;
}

.services__right_experience {
  img {
    width: 75%;
  }
}

.bulleted_headers {
  img {
    width: 260px;
    float: left;

    + h4 {
      + p {
        min-height: 200px;
      }
    }

    @include lg-desktop {
      margin-left: -370px;
    }

    @include sm-desktop {
      margin-left: -345px;
    }

    @include tablet {
      margin-left: -310px;
    }

    @include mobile {
      max-width: none;
      margin-left: -30px;
      margin-right: 220px;
      margin-bottom: 20px;

      + h4 {
        &:before {
          top: 220px;
        }

        &:after {
          top: 205px;
        }

        + p {
          padding-bottom: 45px;

          &:before {
            top: 220px;
          }
        }
      }
    }
  }

  h3,
  h4 {
    position: relative;
    left: 0;
    margin: 0 !important;
    padding-bottom: 14px;
  }

  p {
    position: relative;
    left: 0;
    margin: 0;
    padding-bottom: 36px;
    font-size: $px20;

    @include tablet {
      font-size: $px18;
    }

    @include mobile {
      font-size: $px16;
    }
  }

  h3:after,
  h4:after {
    /* bullets */
    width: 21px;
    height: 21px;
    background: $mt-green;
    border-radius: 50%;
    content: ' ';
    position: absolute;

    @include desktop {
      top: 9px;
      left: -45px; /*adjust manually*/
    }

    @include tablet {
      top: 4px;
      left: -45px; /*adjust manually*/
    }

    @include mobile {
      top: 2px;
      left: -40px; /*adjust manually*/
    }
  }

  h3:before,
  h4:before,
  p:before {
    /* lines */
    content: '';
    position: absolute;
    left: -35px; /* adjust manually */
    height: 100%;
    width: 2px;

    @include mobile {
      left: -30px; /*adjust manually*/
    }

    background-image: linear-gradient(to right, #a8a8a8 50%, transparent 50%),
      linear-gradient(to right, #a8a8a8 50%, transparent 50%),
      linear-gradient(to bottom, #a8a8a8 40%, transparent 10%),
      linear-gradient(to bottom, #a8a8a8 40%, transparent 10%);
    background-position: left top, left bottom, left top, right top;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 0px 0px, 0px 0px, 0px 0px, 2px 20px;
  }

  h3:before,
  h4:before {
    /* first li's line */
    top: 21px; /* moves the line down so that it disappears under the bullet. Adjust manually */
  }

  p:before {
    top: 26px;
  }

  h3:last-of-type:before,
  h4:last-of-type:before {
    /* last li's line */
    height: 0px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
  }

  p:last-of-type:before {
    /* last li's line */
    height: 0px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
  }
}
