.post_list_item {
  border-bottom: 1px solid #eee;
  color: #444;
  margin-bottom: 2rem;
  padding-bottom: 1rem;

  a {
    color: $black;

    &:hover, &:focus {
      color: $mt-green;
    }
  }
}

.post_list_item__meta  {
  align-items: center;
  display: flex;
  font-size: 1rem;
  padding-bottom: 3rem;
  text-transform: uppercase;
}
