.post_list__brand {
  padding: 1rem 0 3rem 0;

  h1 {
    @include media-breakpoint-up(md) {
      font-size: 3.5rem;
    }
  }
}

.post_list__intro {
  color: #999;
  font-size: 1.6rem;

  @include media-breakpoint-up(md) {
    font-size: 2rem;
  }
}
