.post_list_intro {
  margin-bottom: 1rem;

  @include media-breakpoint-up(md) {
    margin-bottom: 3rem;
  }
}

.post_list_intro__inner {
  margin-bottom: 1rem;
}

.post_list_intro__description {
  @extend .lead;
  margin-top: -1rem;
}
