.jumbotron {
  background: #00ce5f;
  background: linear-gradient(to bottom right, #439a63 0%,#00ce5f 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
