.jumbotron {
  background: #00ce5f;
  background: linear-gradient(to bottom right, #439a63 0%,#00ce5f 100%);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: white;
  margin: 0 0 1rem 0;

  h1 {
    color: white;
  }

  p {
    font-size: 1.8rem;
  }

  a {
    color: #fff;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
    }
  }

  small a {
    font-family: $font-family-sans-serif;
    font-size: $h4-font-size;
    font-weight: bold;
  }

  @include media-breakpoint-up(md) {
    h1 {
      font-size: 3.5rem;
    }
  }
}
