// font colors
$mt-green-gradient-dark: #1b6a1c;
$mt-green-dark: #31aa33;
$mt-green: #40c842;
$black: #333;
$dark-grey: #595959;
$mid-grey: #999;
$light-grey: #d9d9d9;
$white-two: #f1f1f1;
$white: #fff;


// font-sizes
$px80: 4.21rem;
$px70: 3.68rem;
$px65: 3.42rem;
$px60: 3.16rem;
$px56: 2.95rem;
$px54: 2.84rem;
$px50: 2.63rem;
$px48: 2.52rem;
$px45: 2.37rem;
$px42: 2.2rem;
$px40: 2.1rem;
$px36: 1.9rem;
$px32: 1.68rem;
$px30: 1.58rem;
$px26: 1.37rem;
$px24: 1.26rem;
$px22: 1.16rem;
$px20: 1.05rem;
$px18: 0.95rem;
$px16: 0.8rem;
$px14: 0.74rem;
$px12: 0.63rem;
$px08: 0.04rem;
$px06: 0.03rem;
$px04: 0.21rem;
$px01: 0.05rem;

// font-weights
$extra-bold: 800;
$bold: 600;
$medium: 500;

// margins and paddings
$desktop-spacing: 100px;
$mobile-spacing: 50px;
$grid-padding: $desktop-spacing 0;
$mobile-grid-padding: $mobile-spacing 0;

//grid container sizes
$xl: 1140px;
$lg: 960px;
$md: 720px;
$sm: 540px;
