.post_tags__tag {
  &:not(:last-child)::after {
    content: ", ";
  }

  a {
    color: #000;
    font-size: .8rem;
    font-weight: bold;
    text-decoration: underline;

    &:hover, &:focus {
      color: #439a63;
    }
  }
}
