.post_tags {
  a {
    font-size: .7rem;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    white-space: nowrap;

    &:hover, &:focus {
      color: #439a63;
    }
  }

  &.light a {
    color: #fff;

    &:hover, &:focus {
      color: #fff;
      text-decoration: none;
    }
  }
}

.post_tags__tag:not(:last-child)::after {
  content: ", ";
}
