.post {
  color: #444;

  h1, h2, h3, h4 {
    font-family: 'neuzeit-s-book';
    font-weight: bold;
    line-height: 1.5;
  }

  h1 {
    color: #000;
    padding: 3rem 0 1.5rem 0;
  }

  h2, h3, h4 {
    color: #222;
    padding: 1rem 0 .5rem 0;
  }
}
