.contentful-grid {
  margin: map-get($spacers, 3) 0;
}

.contentful-grid.shaded,
.contentful-grid.yellow,
.contentful-grid.book-blue,
.contentful-grid.blue,
.contentful-grid.red {
  padding: map-get($spacers, 3) 0;
}

#our-services-digital-discovery-timeline {
  padding-bottom: 200px !important;
}

.contentful-grid.blue {
  background-color: #385fb3;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }

  .prose {
    color: $white;

    p:nth-last-child(2) a {
      @extend .btn-outline-light;
      text-shadow: none;
    }

    p:last-child a {
      @extend .btn-outline-light;
      text-shadow: none;
    }
  }
}

.contentful-grid.yellow {
  background-color: $yellow;

  .prose {
    color: $black;

    p:last-child a {
      @extend .btn-outline-dark;
      border-color: black;
      color: $black;
      text-shadow: none;

      &:focus,
      &:hover {
        background-color: black;
      }
    }
  }
}

.new-design .contentful-grid.book-blue {
  background-color: #6fa9ea;

  .prose {
    color: $black;

    p:last-child a {
      @extend .btn-dark;

      &:focus,
      &:hover {
        background-color: black;
      }
    }
  }
}

.contentful-grid.shaded {
  background-color: #f1f1f1;
  border-top: 1px solid #e0e0e0;
  margin-bottom: 0;
}

.contentful-grid.red {
  background-color: #ff7659;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $black !important;
  }

  .prose {
    color: $black;

    p:last-child a {
      @extend .btn-outline-light;
      text-shadow: none;

      &:hover {
        color: #fff;
        background-color: #23272b;
        border-color: #1d2124;
      }
    }
  }
}

.contentful-grid.yellow,
.contentful-grid.book-blue,
.contentful-grid.blue,
.contentful-grid.shaded,
.contentful-grid.red,
.contentful-jumbotron {
  & + .contentful-grid.yellow,
  & + .contentful-grid.book-blue,
  & + .contentful-grid.blue,
  & + .contentful-grid.shaded,
  & + .contentful-grid.red {
    margin-top: map-get($spacers, 3) * -1;
  }

  & + .contentful-grid.shaded {
    border-top: 0;
  }
}

.header + .contentful-grid {
  margin-top: 0;
}

.contentful-grid.shaded + .contentful-grid:not(.shaded):not(.yellow):not(.blue):not(.book-blue) {
  border-top: 1px solid #f0f0f0;
  margin-top: 0;
}

.contentful-grid.shaded + .contentful-grid {
  padding-top: map-get($spacers, 3);
}

// -----------§

.contentful-gridrow {
  margin: map-get($spacers, 3) 0;
}

.contentful-gridrow.shaded,
.contentful-gridrow.yellow,
.contentful-gridrow.book-blue,
.contentful-gridrow.blue,
.contentful-gridrow.black,
.contentful-gridrow.red {
  padding: map-get($spacers, 3) 0;
}

.contentful-gridrow {
  .yellow {
    background-color: $yellow;

    .prose {
      color: $black;

      p:last-child a {
        @extend .btn-outline-dark;
        border-color: black;
        color: $black;
        text-shadow: none;

        &:focus,
        &:hover {
          background-color: black;
        }
      }
    }

    .contentful-gridcolumn__breadcrumb {
      color: $black;
      a {
        color: $black;
      }
    }
  }

  .red {
    background-color: #ff7659;

    .prose {
      color: $black;

      p:last-child a {
        @extend .btn-outline-light;
        text-shadow: none;

        &:hover {
          color: #fff;
          background-color: #23272b;
          border-color: #1d2124;
        }
      }
    }

    .contentful-gridcolumn__breadcrumb {
      color: $black;
      a {
        color: $black;
      }
    }
  }

  .shaded {
    background-color: #f1f1f1;
    margin-bottom: 0;
  }

  .blue {
    background-color: $blue;

    .prose {
      color: $white;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $white;
      }

      p:nth-last-child(2) a {
        @extend .btn-outline-light;
        text-shadow: none;
      }

      p:last-child a {
        @extend .btn-outline-light;
        text-shadow: none;
      }
    }

    .contentful-gridcolumn__breadcrumb {
      color: $white;
      a {
        color: $white;
      }
    }
  }

  .book-blue {
    background-color: $light-blue;

    .prose {
      color: $white;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $white;
      }

      p:nth-last-child(2) a {
        @extend .btn-outline-light;
        text-shadow: none;
      }

      p:last-child a {
        @extend .btn-outline-light;
        text-shadow: none;
      }
    }

    .contentful-gridcolumn__breadcrumb {
      color: $white;

      a {
        color: $white;
      }
    }
  }

  .black {
    background-color: $black;

    .prose {
      color: $white;

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $white;
      }

      p:nth-last-child(2) a {
        @extend .btn-outline-light;
        text-shadow: none;
      }

      p:last-child a {
        @extend .btn-outline-light;
        text-shadow: none;
      }
    }

    .contentful-gridcolumn__breadcrumb {
      color: $white;

      a {
        color: $white;
      }
    }
  }

  &.borderless {
    margin: 0;

    .container-fluid {
      padding: 0;
    }
  }
}

.contentful-gridcolumn__breadcrumb {
  color: grey;
  font-weight: bold;
  font-size: 0.63rem;

  a {
    color: grey;
  }
}
