@import '../abstracts/mixins';
@import '../abstracts/variables';
@import '../base/typography';

.contentful-hero {

  @include desktop {
    margin-bottom: $desktop-spacing;
  }

  @include tablet {
    margin-bottom: $desktop-spacing;
  }

  @include mobile {
    margin-bottom: $mobile-spacing;
  }
  
  h1.green {
    color: $mt-green;
    text-shadow: -1px 1px 4px $black;
  }

  h1.white {
    color: $white;
  }

  h1.black {
    color: $black;
  }
}

.contentful-hero__breadcrumb {
  a {
    color: $white;
  }
  color: $white;
  font-weight: $bold;
  font-size: $px12;

  @include desktop {
    margin-top: 35px;
    margin-bottom: 45px;
  }

  @include tablet {
    margin-top: 25px;
    margin-bottom: 35px;
  }

  @include mobile {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

.contentful-hero__section-type {
  color: $white;
  font-weight: $bold;
  font-size: $px12;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.contentful-hero__page-title {
  margin: 0;
}
