.contentful-carousel{
    .slick-slider {
        margin: 0 auto;
    }

    .slick-slider,
    .slick-slide,
    .slick-list {
        max-width: 980px !important;
    }

    .slick-track {
        display: flex;
        align-items: center;
    }

    .slick-slide {
        img {
            margin: auto;
            max-width: 980px;
            height: auto;

            @include sm-desktop {
                max-width: 800px;
            }

            @include lg-tablet {
                max-width: 600px;
            }

            @include sm-tablet {
                max-width: 450px;
            }

            @include mobile {
                max-width: 75vw;
            }
        }
    }

    .slick-next {
        &:before {
            color: #40c842;
            font-size: 60px;
        }

        @include mobile {
            right: -15px;
            &:before {
                font-size: 30px;
            }
        }
    }

    .slick-prev {
        z-index: 1;
        transform: translate(-40px, -10px);
        &:before {
            color: #40c842;
            font-size: 60px;
        }

        @include mobile {
            left: -10px;
            transform: translate(-15px, -10px);
            &:before {
                font-size: 30px;
            }
        }
    }

    .slick-dots {
        li:before {
            background: none !important;
        }
    }
    .slick-dots {
        button:before {
            font-size: 20px !important;
            color: #333333 !important;
            opacity: 1 !important;
        }
        .slick-active {
            button:before {
                color: #40c842 !important;
                z-index: 1;
            }
        }
    }
}