@import '../abstracts/mixins';
// need to disable these link-buttons for new site
header + div:not(.new-design) {
  .contentful-grid.yellow {
    .contentful-prose {
      .prose {
        :not(li) > p:last-child a {
          color: $black !important;
          border-color: black !important;
        }
      }
    }
  }

  .contentful-prose {
    .prose {
      :not(li) > p:last-child a {
        @extend .btn;
        @extend .btn-outline-success;
        color: $mt-green;
        font-weight: normal;
        text-decoration: none;

        &:hover,
        &:focus {
          color: white;
        }
      }
    }
  }
}

.contentful-prose {
  &.screen-reader .prose {
    height: 1px;
    width: 1px;
    position: absolute;
    overflow: hidden;
  }

  .prose-image {
    > div {
      display: none;
    }

    img {
      width: initial !important;
      height: initial !important;
      position: initial !important;
    }
  }

  margin: map-get($spacers, 5) 0;

  img {
    max-height: 16rem;
    max-width: 100%;
  }

  img.avatar {
    border-radius: 50%;
    max-width: 8rem;
    width: auto;
  }

  .prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:first-child {
        margin-top: 0;
      }
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  img + .prose {
    margin-top: 1rem;
  }

  .contentful-grid & {
    margin: 0;
  }

  @include media-breakpoint-up(lg) {
    img {
      max-height: none;
      width: 100%;
    }
  }

  &.overlay {
    margin-top: -70px;

    @include lg-tablet {
      margin-top: -136px;
    }

    @include sm-tablet {
      margin-top: -63px;
    }
  }
}
