.grey{
  @include lg-desktop {
    background-size: calc(60%) calc(100%);
  }

  @include desktop {
    background-size: calc(60%) calc(100%);
  }

  @include sm-desktop{ 
    background-size: calc(60%) calc(100%);
  }

  @include tablet {
    background-size: calc(60%) calc(100%);
  }

  @include sm-tablet {
    background-size: calc(100%) calc(100%);
  }

  @include mobile {
    background-size: calc(100%) calc(100%);
  }
}
  
.contentful-hero {
  @include desktop {
    margin-bottom: $desktop-spacing;
  }

  @include tablet {
    margin-bottom: $desktop-spacing;
  }

  @include mobile {
    margin-bottom: $mobile-spacing;
  }

  .hero_none {
    padding: 0;
    height: 479px;

    @include sm-desktop {
      height: 430px;
    }

    @include lg-tablet {
      height: 400px;
    }

    img {
      height: 100%;
      width: auto;
      background: no-repeat;
      background-size: contain;
      }
  }
  
  .no_breadcrumb {
    padding: 80px 0 125px 0;
  }
}

.contentful-hero__page-title {
  &.green {
    @include mobile {
      font-size: $px45;
      line-height: $px50;
      letter-spacing: -0.56px;
    }
  }
}

.contentful-hero__breadcrumb {
  @include desktop {
    margin-top: 35px;
    margin-bottom: 25px;
  }

  @include tablet {
    margin-top: 25px;
    margin-bottom: 35px;
  }

  @include mobile {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

.contentful-hero__links__a {
  @include desktop { 
    font-size: $px22;
    line-height: 50px;
  }

  @include sm-desktop { 
    font-size: $px18;
    line-height: 40px;
  }

  @include tablet { 
    font-size: $px12;
    line-height: 30px;
  }
}

.contentful-hero__text {
  @include desktop{
    font-size: $px24;
  }


  @include sm-desktop{ 
    font-size: $px20;
  }

  @include tablet {  
    font-size: $px18;
  }

  @include sm-tablet { 
    font-size: $px18;
  }

  @include mobile {
    font-size: $px18;
  }

}

