@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.contentful-carousel{
    .container {
        padding: 40px;
    }
    
    .slick-slide img {
        margin: auto;
        max-width: 90%;
        max-height: 90%;
    }

    .slick-next {
        right: 0;
        &:before {
            color: #40c842;
            font-size: 60px;
        }
    }

    .slick-prev {
        left: 0;
        &:before {
            color: #40c842;
            font-size: 60px;
        }
    }

    .slick-dots {
        li:before {
            background: none !important;
        }
    }
    .slick-dots {
        button:before {
            font-size: 20px !important;
            color: #333333 !important;
            opacity: 1 !important;
        }
        .slick-active {
            button:before {
                color: #40c842 !important;
            }
        }
    }
}