.contentful-highlight {
  position: relative;


  .contentful-highlight__bg-left {
    background-color: $black;
  }

  .contentful-highlight__content {
    background-color: $black;
  }

  .contentful-highlight__content {
    padding: 40px 20px 40px 0;
    p {
      font-family: $poppins;
      color: $white;
      font-weight: $medium;
      margin: 1rem 0;

      @include desktop {
        padding-right: 15%;
        font-size: $px26;
        line-height: 1.54;
      }

      @include tablet {
        padding-right: 10%;
        font-size: $px20;
        line-height: 1.5;
      }

      @include mobile {
        padding-right: 5%;
        font-size: $px18;
        line-height: 1.39;
      }
    }
  }

  .contentful-highlight__bg-left {
    position: absolute;
    height: 100%;
    width: 75%;
    margin: 0;
    padding: 0;
    display: inline-block;
    border-left: 10px solid $mt-green;

    @include tablet {
      width: 80%;
    }

    @include mobile {
      width: 100%;
    }

    .highlight-image {
      width: auto;
      text-align: right;
      height: 100%;
      float: right;

      img {
        position: absolute;
        width: auto;
        height: 100%;
        right: 0;
        bottom: 0;

        @include sm-desktop {
          height: 80%;
        }

        @include tablet {
          height: 80%;
        }

        @include sm-tablet {
          height: 80%;
        }

        @include mobile {
          height: 80%;
        }
      }
    }
  }

  .row {
    .col-xl-8 {
      background-color: transparent;
      padding-bottom: 76px;
      padding-top: 89px;

      @include mobile {
        padding-top: 47px;
        padding-bottom: 43px;
        padding-left: 21px;
      }
    }
  }

  .contentful-highlight__author {
    display: flex;
    align-items: center;

    .author {
      font-family: $montserrat;
      font-size: $px12;
      font-weight: bold;
      color: $mt-green;
    }

    .avatar {
      margin-right: 15px;
      img {
        border-radius: 50%;
        width: 54px;
        height: 54px;
      }
    }
  }
}
