.contentful-hero {
  @include desktop {
    margin-bottom: $desktop-spacing;
  }

  @include tablet {
    margin-bottom: $desktop-spacing;
  }

  @include mobile {
    margin-bottom: $mobile-spacing;
  }
}

.contentful-hero__breadcrumb {
  a {
    color: $light-grey;
  }
  color: $light-grey;
  font-weight: $bold;
  font-size: $px12;

  @include desktop {
    margin-top: 35px;
    margin-bottom: 45px;
  }

  @include tablet {
    margin-top: 25px;
    margin-bottom: 35px;
  }

  @include mobile {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

.contentful-hero__section-type {
  font-weight: $bold;
  font-size: $px12;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.contentful-hero__page-title {
  margin: 0;
}
