.contentful-imagelink {
    img {
        border-left: 5px $mt-green solid;
    }
    font-size: $px24;
    line-height: $px30;
    
    @include tablet {
        padding-left: 5px;
        padding-right: 5px;
    }
}
