.contentful-drip-form {
  margin: 0 auto;
}

.contentful-drip-form {
  width: 50%;

  .submit-button {
    @extend .form-group;
    @extend .btn;
    @extend .btn-success;
    @extend .btn-lg;
  }

  .privacy-policy-text {
    a {
      color: $black;
      &:hover {
        color: $mt-green;
      }
    }
  }

  .drip-form-label {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.88;
  }

  .drip-input {
    @extend .form-group;
    input {
      @extend .form-control;
    }
  }

  .description {
    padding-bottom: 1em;
  }
}
