.grey{
  @include lg-desktop {
    background-size: calc(60%) calc(100%);
  }

  @include desktop {
    background-size: calc(60%) calc(100%);
  }

  @include sm-desktop{ 
    background-size: calc(60%) calc(100%);
  }

  @include tablet {
    background-size: calc(60%) calc(100%);
  }

  @include sm-tablet {
    background-size: calc(100%) calc(100%);
  }

  @include mobile {
    background-size: calc(100%) calc(100%);
  }
}
  
.contentful-hero {
  @include desktop {
    margin-bottom: $desktop-spacing;
  }

  @include tablet {
    margin-bottom: $desktop-spacing;
  }

  @include mobile {
    margin-bottom: $mobile-spacing;
  } 
 
}

.contentful-hero__breadcrumb {
  @include desktop {
    margin-top: 35px;
    margin-bottom: 25px;
  }

  @include tablet {
    margin-top: 25px;
    margin-bottom: 35px;
  }

  @include mobile {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

.contentful-hero__links__a {
  @include desktop { 
    font-size: $px22;
    line-height: 50px;
  }

  @include sm-desktop { 
    font-size: $px18;
    line-height: 40px;
  }

  @include tablet { 
    font-size: $px12;
    line-height: 30px;
  }
}

.contentful-hero__text {
  @include desktop{
    font-size: $px24;
  }

  @include sm-desktop{ 
    font-size: $px20;
    letter-spacing: -0.81px;
  }

  @include tablet { 
   
    font-size: $px18;
    letter-spacing: -0.81px;
  }

  @include sm-tablet { 
    font-size: $px18;
    letter-spacing: -0.81px;
  }

  @include mobile {
    font-size: $px18;
    letter-spacing: -0.56px;
  }

}