@import 'src/components/Contentful/sass/abstracts/_mixins.scss';
.inline-images {
  margin: 2rem 0;
  text-align: center;
}

.overlay {
  margin-top: -70px;
  margin-left: -70px;

  @include mobile {
    margin-top: -50px;
    margin-left: -70px;
  }
}

@include media-breakpoint-up(md) {
  .inline-images__caption {
    font-size: 1.2rem;
  }
}
