.contentful-card {
  font-size: .9rem;

  h1, h2, h3, h4, h5, h6 {
    &:first-child {
      margin-top: 0;
    }
  }

  a.card {
    color: $black;
    text-decoration: none;

    &:hover, &:focus {
      border-color: $black;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}
