.contentful-grid {
  margin: map-get($spacers, 3) 0;
}

.contentful-grid.shaded,
.contentful-grid.yellow,
.contentful-grid.book-blue,
.contentful-grid.blue {
  padding: map-get($spacers, 3) 0;
}

.contentful-grid.blue {
  background-color: #385fb3;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }

  .prose {
    color: #fff;

    p:last-child a {
      @extend .btn-outline-light;
      text-shadow: none;
    }
  }
}

.contentful-grid.yellow {
  background-color: #fecc2b;

  .prose {
    color: $black;

    p:last-child a {
      @extend .btn-outline-dark;
      border-color: black;
      color: $black;
      text-shadow: none;

      &:focus,
      &:hover {
        background-color: black;
      }
    }
  }
}

.new-design .contentful-grid.book-blue {
  background-color: #6fa9ea;

  .prose {
    color: $black;

    p:last-child a {
      @extend .btn-dark;

      &:focus,
      &:hover {
        background-color: black;
      }
    }
  }
}

.contentful-grid.shaded {
  background-color: #fcfcfc;
  border-top: 1px solid #e0e0e0;
  margin-bottom: 0;
}

.contentful-grid.yellow,
.contentful-grid.book-blue,
.contentful-grid.blue,
.contentful-grid.shaded,
.contentful-jumbotron {
  & + .contentful-grid.yellow,
  & + .contentful-grid.book-blue,
  & + .contentful-grid.blue,
  & + .contentful-grid.shaded {
    margin-top: map-get($spacers, 3) * -1;
  }

  & + .contentful-grid.shaded {
    border-top: 0;
  }
}

.header + .contentful-grid {
  margin-top: 0;
}

.contentful-grid.shaded
  + .contentful-grid:not(.shaded):not(.yellow):not(.blue):not(.book-blue) {
  border-top: 1px solid #f0f0f0;
  margin-top: 0;
}

.contentful-grid.shaded + .contentful-grid {
  padding-top: map-get($spacers, 3);
}
