ul {
  list-style: none;
}

ul li {
  position: relative; /* so that pseudoelements are positioned relatively to their "li"s*/
  /* use padding-bottom instead of margin-bottom.*/
  margin-bottom: 0; /* This overrides previously specified margin-bottom */
  padding-bottom: $px20;
  padding-left: 0;
}

ul li:before {
  /* bullets */
  width: 8px;
  height: 8px;
  background: $mt-green;
  border-radius: 50%;
  content: ' ';
  position: absolute;
  

  @include desktop {
    left: -22px;
    top: 11px;
  }

  @include tablet {
    left: -20px;
    top: 11px;
  }

  @include mobile {
    left: -20px;
    top: 11px;
  }
}

.container {
  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }

  @include tablet {
    padding-left: 0;
    padding-right: 0;
  }

  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.row {
  @include desktop {
    margin-left: 0;
    margin-right: 0;
  }

  @include tablet {
    margin-left: 0;
    margin-right: 0;
  }
}

.col,
[class*='col-'] {
  @include desktop {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include tablet {
    padding-left: 2.5px;
    padding-right: 2.5px;
  }
}

.contentful-grid {
  margin: 0;
  border: 0 !important;
  padding: $grid-padding !important;

  @include mobile {
    padding: $mobile-grid-padding !important;
  }

  
  &.black,
  &.shaded,
  &.normal,
  &.white {
    u,
    a {
      padding-bottom: 4px;
      text-decoration: none;
      box-shadow: inset 0 0px 0 transparent, inset 0 -3px 0 $mt-green;
    }
  }

  &.black,
  &.blue,
  &.shaded,
  &.white,
  &.yellow {
    + .contentful-grid {
      padding: $grid-padding;

      @include mobile {
        padding: $mobile-grid-padding;
      }
    }
  }

  &.black {
    background-color: $black;
    
    p,
    a {
      color: $white !important;
      font-size: $px20;
    }

    a {
      font-weight: $extra-bold;
    }

    h3,
    h4 {
      color: $mt-green;
    }

    ul li:before {
      background: $white;
    }

    .services-overview-bulletpoints {
      border-left-color: $white;
    }
  }

  &.green-gradient {
    background-image: linear-gradient(
      285deg,
      $mt-green-gradient-dark,
      $mt-green
    );

    padding: 150px 0 !important;

    @include mobile {
      padding: $mobile-grid-padding !important;
    }

    p,
    b,
    h1,
    h2,
    h3 {
      color: $white !important;
    }

    h3 {
      font-weight: $extra-bold;

      @include tablet {
        padding-bottom: 25px;
      }

      @include mobile {
        padding-bottom: 0;
      }
    }

    .prose {
      font-weight: $medium;
    }
  }

  &.green {
    background-color: $mt-green;

    padding: 150px 0 !important;

    @include mobile {
      padding: $mobile-grid-padding !important;
    }

    p {
      color: $white !important;
    }

    h1 {
      color: $black;
    }

    h3 {
      font-weight: $extra-bold;

      @include tablet {
        padding-bottom: 25px;
      }

      @include mobile {
        padding-bottom: 0;
      }
    }

    .prose {
      font-weight: $medium;
    }
  }

  &.shaded {
    background-color: $white-two;

    p {
      color: $black;
    }

    + .contentful-grid.yellow {
      margin: initial;
    }
  }

  &.white {
    background-color: $white;

    ul li:before {
      background: $black;
      width: 8px;
      height: 8px;
    }
  }

  &.pull-quote {
    background-color: $white;

    &.contentful-grid {
      padding: 0 !important;
    }

    .contentful-prose {
      img {
        max-height: 100%;
      }
    }

    .prose {
      color: $black;
      font-weight: $bold;

      @include desktop {
        font-size: $px14;
        line-height: 1.05;
      }

      @include tablet {
        font-size: $px12;
        line-height: 1.25;
      }

      @include mobile {
        font-size: $px12;
        line-height: 1.25;
      }

      blockquote {
        margin: 0 0 10px 0;

        @include tablet {
          margin-top: 25px;
        }

        @include mobile {
          margin-top: 25px;
          max-width: 80%;
        }

        &::before {
          display: none;
        }

        p {
          font-style: normal;
        }

        + p {
          margin: 0;
        }
      }

      p {
        b {
          color: $black;
        }
      }
    }

    img {
      border-left: 10px solid $mt-green;
      margin-left: -10px;
    }

    + .contentful-highlight {
      margin-top: $desktop-spacing;

      @include mobile {
        margin-top: $mobile-spacing;
      }
    }
  }
}

.contentful-prose {
  b {
    font-weight: $extra-bold;
    color: $black;
  }


  .prose {
    color: $black;
    h1, h2, h3  {
      color: $black;
    }

    + img.after {
      margin-top: 25px;
    }
  }

  &:not(.small) {
    .prose {
      h2 {
        @include desktop {
          margin-bottom: 100px;
        }

        @include tablet {
          margin-bottom: 75px;
        }

        @include mobile {
          margin-bottom: 25px;
        }
      }
      h3 {
        @include desktop {
          margin-bottom: 100px;
        }

        @include tablet {
          margin-bottom: 25px;
        }
      }
    }
  }
}
