ul {
  list-style: disc;
  ::before {
    width: 8px !important;
    height: 8px !important;
  }
}

ul li {
  position: relative; /* so that pseudoelements are positioned relatively to their "li"s*/
  /* use padding-bottom instead of margin-bottom.*/
  margin-bottom: 0; /* This overrides previously specified margin-bottom */
  padding-bottom: $px20;
  padding-left: 0;
}

ul li:before {
  /* bullets */
  background: $mt-green;
  border-radius: 50%;
  position: absolute;

  @include desktop {
    left: -22px;
    top: 11px;
  }

  @include tablet {
    left: -20px;
    top: 11px;
  }

  @include mobile {
    left: -20px;
    top: 11px;
  }
}

.container {
  @include desktop {
    padding-left: 0;
    padding-right: 0;
  }

  @include tablet {
    padding-left: 0;
    padding-right: 0;
  }

  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.row {
  @include desktop {
    margin-left: 0;
    margin-right: 0;
  }

  @include tablet {
    margin-left: 0;
    margin-right: 0;
  }
}

.col,
[class*="col-"] {
  @include desktop {
    padding-left: 10px;
    padding-right: 10px;
  }

  @include tablet {
    padding-left: 2.5px;
    padding-right: 2.5px;
  }
}

.books-grid-col {
  @include tablet {
    padding-left: 6.5px;
    padding-right: 6.5px;
  }
}

.contentful-grid {
  margin: 0;
  border: 0 !important;
  padding: $grid-padding !important;

  @include mobile {
    padding: $mobile-grid-padding !important;
  }

  &.black,
  &.shaded,
  &.normal,
  &.white {
    u,
    a {
      font-weight: $extra-bold;
      letter-spacing: 0px;
      text-decoration: none;
      box-shadow: inset 0 0 0 transparent, inset 0 -3px 0 $mt-green;
      padding-bottom: 3px;
    }
  }

  &.black,
  &.blue,
  &.shaded,
  &.white,
  &.yellow {
    + .contentful-grid {
      padding: $grid-padding;

      @include mobile {
        padding: $mobile-grid-padding;
      }
    }
  }

  &.black {
    background-color: $black;

    p,
    a {
      color: $white !important;
      font-size: $px20;
    }
    .sector-grid-links,
    .get-in-touch__component__email-address,
    .get-in-touch__component__phone-number {
      a:hover {
        color: $mt-green !important;
      }
    }

    a {
      font-weight: $extra-bold;
    }

    h3,
    h4 {
      color: $mt-green;
    }

    ul {
      color: $white;
    }

    ul li:before {
      background: $white;
    }

    .services-overview-bulletpoints {
      border-left-color: $white;
    }
  }

  &.green-gradient {
    background-image: linear-gradient(285deg, $mt-green-gradient-dark, $mt-green);

    padding: 150px 0 !important;

    @include mobile {
      padding: $mobile-grid-padding !important;
    }

    p,
    b,
    h1,
    h2,
    h3 {
      color: $white !important;
    }

    h3 {
      font-weight: $extra-bold;

      @include tablet {
        padding-bottom: 25px;
      }

      @include mobile {
        padding-bottom: 0;
      }
    }

    .prose {
      font-weight: $medium;
    }
  }

  &.green {
    background-color: $mt-green;

    padding: 150px 0 !important;

    @include mobile {
      padding: $mobile-grid-padding !important;
    }

    p {
      color: $white !important;
    }

    h1 {
      color: $black;
    }

    h3 {
      font-weight: $extra-bold;

      @include tablet {
        padding-bottom: 25px;
      }

      @include mobile {
        padding-bottom: 0;
      }
    }

    .prose {
      font-weight: $medium;
    }
  }

  &.shaded {
    background-color: $white-two;
    .privacy-policy-text {
      font-size: 1.05rem;
      line-height: 1.58rem;
    }
    p {
      font-family: $montserrat;
      font-size: $px24;
      line-height: $px40;
      color: $dark-grey;
    }

    + .contentful-grid.yellow {
      margin: initial;
    }

    ul {
      list-style: disc;
      color: $mt-green;
      ::before {
        width: 8px !important;
        height: 8px !important;
      }
      li {
        p {
          font-size: $px20;
          line-height: $px30;
          font-weight: $medium;
          color: $black;
        }
      }
    }
  }

  &.white,
  &.normal {
    background-color: $white;

    ul li:before {
      background: $black;
      width: 8px;
      height: 8px;
    }

    .prose {
      .prose-style-font-size {
        p {
          font-family: $montserrat;
          font-size: $px20;
          line-height: $px30;
          color: $dark-grey;
        }
        ul {
          font-size: $px20;
          line-height: $px30;
        }
      }
      p {
        font-family: $montserrat;
        font-size: $px24;
        line-height: $px40;
        color: $dark-grey;
      }
    }
  }

  &.pull-quote {
    background-color: $white;

    &.contentful-grid {
      padding: 0 !important;
    }

    .contentful-prose {
      img {
        max-height: 100%;
      }
      .case-study-image {
        @include mobile {
          margin-top: 60px;
          margin-left: 15px;
        }
      }
    }

    .prose {
      color: $black;
      font-weight: $bold;

      @include desktop {
        font-size: $px14;
        line-height: 1.05;
      }

      @include tablet {
        font-size: $px12;
        line-height: 1.25;
      }

      @include mobile {
        font-size: $px12;
        line-height: 1.25;
      }

      blockquote {
        margin: 0 0 10px 0;

        @include tablet {
          margin-top: 25px;
        }

        @include mobile {
          margin-top: 25px;
          max-width: 80%;
        }

        &::before {
          display: none;
        }

        p {
          font-style: normal;
        }

        + p {
          margin: 0;
        }
      }

      p {
        b {
          color: $black;
        }
      }
    }

    img {
      border-left: 10px solid $mt-green;
      margin-left: -10px;
    }

    + .contentful-highlight {
      margin-top: $desktop-spacing;

      @include mobile {
        margin-top: $mobile-spacing;
      }
    }
  }
}

//box-shadow is not needed for Digital Leaders Week 2020(displayed at Homepage)
#misc-better-patient-outcomes-webinar {
  &.shaded {
    a {
      box-shadow: none;
    }
  }
}
#our-services-we-ve-done-this-before {
  .prose {
    p {
      a {
        b:hover {
          color: $mt-green;
        }
      }
    }
  }
}
.contentful-prose {
  b {
    font-weight: $extra-bold;
    color: $black;
  }

  .prose {
    color: $black;
    h1,
    h2,
    h3 {
      color: $black;
    }

    + img.after {
      margin-top: 25px;
    }

    + .book-image {
      margin-top: 25px;
      max-height: 457px;
      width: 322px;
    }
    .prose-style-link-color {
      a {
        box-shadow: none;
      }
    }
  }

  &:not(.small) {
    .prose {
      h2 {
        @include desktop {
          margin-bottom: 100px;
        }

        @include tablet {
          margin-bottom: 75px;
        }

        @include mobile {
          margin-bottom: 25px;
        }
      }
      h3 {
        @include desktop {
          margin-bottom: 100px;
        }

        @include tablet {
          margin-bottom: 25px;
        }
      }
    }
  }
}

.page_not_found_text {
  position: relative;
  margin-top: 1rem;

  @include sm-desktop {
    margin-top: 3rem;
  }
  @include tablet {
    margin-top: 2rem;
  }
  .px4 {
    div {
      margin-left: 10px;

      @include mobile {
        margin-left: 17px;
        margin-top: 80px;
      }

      @include tablet {
        margin-left: 5px;
      }
    }
    p {
      font-size: 20px;
      margin-bottom: 5px;
      a {
        text-decoration: none;
        box-shadow: inset 0 0 0 transparent, inset 0 -3px 0 $mt-green;
      }
    }
  }
}

.contentful-drip-form {
  .drip-form-text {
    p {
      font-size: $px20;
      line-height: $px30;
    }
  }
}
