.contentful-header-image {
  z-index: -1;

  img {
    z-index: -1;
    pointer-events: none;
    position: absolute;
    width: 100%;
  }
}

.contentful-header-image__extraLarge {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include sm-desktop {
    display: none;
  }
}

.contentful-header-image__large {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include lg-desktop {
    display: none;
  }
}

.contentful-header-image__medium {
  @include mobile {
    display: none;
  }
  @include sm-desktop {
    display: none;
  }
  @include lg-desktop {
    display: none;
  }
}

.contentful-header-image__small {
  @include mobile {
  }
  @include tablet {
    display: none;
  }
  @include sm-desktop {
    display: none;
  }
  @include lg-desktop {
    display: none;
  }
}
